---
title: 寄付のお願い
---

<p>
  日本 KDE ユーザ会は、発足当初から皆様の寄付によって活動が支えられてきました。
  これまで寄付をしてくださった方々に感謝するとともに、日本 KDE ユーザ会の活動趣旨に賛同していただける方のご寄付をお待ちしております。<br />
  ご寄付くださる方は<a href="mailto:info@kde.gr.jp">info@kde.gr.jp</a>までご連絡ください。<br />
  尚、企業で日本 KDE ユーザ会に寄付される場合は「法人会員」の形でお願いします。(法人会員については、会則をご覧下さい。)
</p>

<p>
  寄付金額は任意ですが、一応の目安としては<b>一口3000円</b>としております。
  (もちろんこれは寄付金額を指定するという意味ではありません。)
  また、マシンやパーツといった、現物でのご寄付も歓迎です。
</p>

<h2>ご寄付くださった方々</h2>
<p>
  記載方法については、順不同かつ敬称略とさせて頂いております。ご了承ください。<br />
  諸事情により、一部の方については姓のみの表記とさせて頂いております。
</p>

<ul>
  <li>朝木 卓見</li>
  <li>石尾 孝弘</li>
  <li>井上 俊博</li>
  <li>井村 竜一郎</li>
  <li>加藤</li>
  <li>杵渕 聡</li>
  <li>菰田 泰生</li>
  <li>鈴木 研介</li>
  <li>利田 盛宏</li>
  <li>富山</li>
  <li>中原</li>
  <li>真崎 洋平</li>
  <li>山内 栄一</li>
  <li>HANCOM Linux<br>
  <li>Linux Mandrake (後の Mandriva)</li>
  <li>OCEAN BREEZe</li>
  <li><a href="https://www.itsutsubashi.com/">株式会社 五橋研究所</a> (旧 Laser5): サーバマシンおよび開発マシンご寄付</li>
  <li><a href="https://www.yamanashi.ac.jp/">山梨大学</a>: JKUG の設立当初からサポート</li>
</ul>
