---
title: KDEによるGUI作成
summary: This is an introduction to creating GUIs with KDE.
---


<H3>Richard J. Moore</H3>

日本語訳: 菰田泰生 19990618

<HR>
<H2>
導入</H2>
KDEでGUIを作ることはたくさんの既存の利用可能なGUIコンポーネントや、開発者のためのQtが提供するフレームワークのおかげでとても簡単にできます。不幸にも大量のパブリックドメインのソースコード（例えばKDE全体）や詳細なクラスドキュメントのせいで、GUIを作るためにどうやって物を組み合わせていくかを説明するチュートリアルがありませんでした。この文書の目的はそのような文書を提供することです。具体的に議論するために`ドラッグアンドドロップ'、URLサポート、オンラインヘルプのような機能を含むとても簡単なKDEアプリケーションを作っていきたいと思います。この文書はC++や基本的なコンパイルの問題については説明しません。どうやってGUIを組み合わせるかだけを説明します。
<P>始めるにあたって1つのメニューを含むメニューバーだけから構成されるとても簡単なGUIを作ってみましょう。`Exit'コマンドだけをメニューに含みます。このむしろ謙虚なものから、私たちはアプリケーションをシンプルながら機能的なエディタに拡張していきたいと思います。これはチュートリアルにしては手ごわいものかも知れませんが、QtやKDEによって提供されているコンポーネントを再利用することを見ることで簡単に練習できます。私は最初にコードを見せてあとで詳しく追っていきます。全てのサンプルコードはKDEの開発者用ウェブサイトの<A HREF="http://developer.kde.org/">http://developer.kde.org/examples.tar.gz</A>から自由にダウンロードできます。
<H2>
最小のアプリケーション</H2>
私たちはこれから最小のKDEアプリケーションについて詳細に見ていきたいと思います。それは`Exit'コマンドだけを提供しますが、すでにフローティングメニューバー、セッションマネージメント、国際化もサポートしています。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<PRE>#ifndef EDIT_H
#define EDIT_H

#include &lt;ktopwidget.h>

class Edit : public KTopLevelWidget
{
&nbsp; Q_OBJECT

public:
&nbsp; Edit();

&nbsp; ~Edit();

public slots:
&nbsp;void commandCallback(int id_);

private:
&nbsp; // 子ウィジェット
&nbsp; KMenuBar *menu;
};
#endif // EDIT_H</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>Edit</B> クラス宣言&nbsp;</CAPTION>
</TABLE>
&nbsp;最初に見るべきなのはクラス宣言で、<B>Editクラスとして</B>アプリケーションにインプリメントされているのが分かるでしょう。
<BR><B>Editは全ての</B>KDEアプリケーションの基本クラスである<B>KTopLevelWidget</B>
(KTLW)の派生クラスです。KTLWはアプリケーションのメニューバー、ステータスバー、ツールバー、セッションマネージメントを管理します。次にクラス宣言にあるのは`Q_OBJECT'マクロです。これは重要なQtの特徴である"シグナル"と"スロット"のサポートのために必要です。<B>Edit</B>クラスのただ一つのスロットが<I>commandCallback()</I>メソッドで、`<TT>public
slots:'</TT>のようにパブリックアクセスのスロットとして宣言されています。スロットは本質的にタイプセーフなコールバックメソッドです。オブジェクトによって、「<B>Edit</B>クラスは
<I>connect()</I>メソッドで使われると表現されているもの」として呼ばれます。残りのクラス宣言は他のC++クラスと同様です。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>#include &lt;kapp.h>
#include &lt;kmenubar.h>
#include "edit.h"

const int ID_EXIT= 111;

Edit::Edit()
{
&nbsp; QPopupMenu *file = new QPopupMenu;

&nbsp; file->insertItem(klocale->translate("Exit"), ID_EXIT);

&nbsp; menu = new KMenuBar( this );
&nbsp; CHECK_PTR( menu );
&nbsp; menu->insertItem( klocale->translate("File"), file );
&nbsp; menu->show();
&nbsp; setMenu(menu);

&nbsp; // 互いを接続します
&nbsp; connect (file, SIGNAL (activated (int)), SLOT (commandCallback (int)));
}

Edit::~Edit()
{

}

void Edit::commandCallback(int id_)
{
&nbsp; switch(id_) {
&nbsp; case ID_EXIT:
&nbsp;&nbsp;&nbsp; exit(0);
&nbsp;&nbsp;&nbsp; break;
&nbsp; }
}

#include "edit.moc"</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>Edit</B> クラス インプリメント</CAPTION>
</TABLE>

<P>私たちは今、コンストラクタを最初に見ることにより<B>Edit</B>クラスのインプリメントを学びます。コンストラクタはQPopupMenuオブジェクトを生成します、これはFileメニューです。私たちは<I>insertItem()</I>
メソッドを使って`Exit'アイテムを追加します。最初のパラメターはメニューで表示される文字列で、2番目は整数のidです（あなたはクラスドキュメンテーションを見ることで、クラスの全てのメソッドを見つけることができます）。翻訳のためのアプレットの準備としてただの'Exit'文字列のラベルをセットする代わりに<I>klocale->translate()</I>
を呼びます。ユーザーが見るであろうどんな文字列もこうされるべきです。私たちは私たち独自のKLocaleオブジェクトを作る必要はありません、というのはKApplication（全てのKDEアプリケーションオブジェクトの基本クラス）が作ってくれるからです。私たちはkapp.hによって提供されるklocaleマクロを使ってKLocateオブジェクトにアクセスします。
<P>次に私たちがやることは私たちのメニューを含むメニューバーを作ることです、私たちはKMenuBarウィジェットを使ってこれをやります。CHECK_PTRマクロ(ウィジェットがうまく作られたかを確かめる)はQtが供給するパラメターが0かどうかをチェックするマクロです(もしパラメターが0ならアプリケーションをエラーともに終了させます)。私たちは私たちがメニューエントリを作ったのとほぼ同じ方法で'File'アイテムを作ります(この一致は驚くに足りません、なぜならQPopupMenuとKMenuBarは同じ基本クラスQMenuDataを継承しているからです)。再び私たちはKLocaleを呼ぶ必要があります、というのは'File'という文字列はユーザーに見えるからです。私たちは<I>show()</I>
メソッドを使ってメニューを表示し、KTLWに<I>setMenu()</I>でメニューを管理することを知らせます。
<P>私たちのアプレットが動くようにするための最後のステージは、メニューバーエントリをアプリケーションが終了するためのコードと接続することです、これは<I>connect()</I>
呼び出しによって行なわれます。Qtアプリケーション(つまりKDEアプリケーション)はウィジェットを繋げるためにシグナルとスロットを使います。ウィジェット(もしくは他のあらゆるQObject)は状態が変わった時はいつでもシグナルを発行します。私たちのアプレットではQPopupMenuがユーザーがメニューアイテムを選択した時に発行する
<I>activated()</I>
シグナルを使用します。このシグナルは<B>Edit</B> クラスで宣言された
<I>commandCallback()</I>
スロットに接続しなければなりません。 <I>commandCallback()</I> を見て分かるように、スロットは通常のメソッドと違いはそうありません。唯一の違いは宣言で、このメソッドはヘッダーファイルにあるスロットです。<I>commandCallback()</I>
は渡されたパラメターが定数 ID_EXIT--私たちが'Exit'メニューアイテムを識別するのと同じ定数--だったらプログラムを終了します。シグナルとスロットはパラメターを持て、それらは他のメソッドのパラメターと同様に扱えます。Qtはシグナルのtype
signatureがスロットのそれとマッチするか(そしてマッチしなければエラーを返します)をチェックします。さて、Editコンストラクタの<I>connect()</I>
メソッド呼び出しのところを見てみましょう。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; connect (file, SIGNAL (activated (int)), SLOT (commandCallback (int)));</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>シグナルをスロットに接続</CAPTION>
</TABLE>

<P>最初のパラメターはシグナルを排除するオブジェクトで、私たちのケースでは
QPopupMenu file です。次のパラメターは接続されるべきシグナルです。あなたはシグナルの名前とそのパラメターの型を<I>SIGNAL()マクロを使って</I>特定しなくてはなりません（というのはパラメターはクラスヘッダーファイルかクラスドキュメントに現れるからです）。<I>connect()</I>
が取る最後のパラメターは<I>SLOT()</I> マクロを使って特定されるスロットで、前と同様そのパラメターも特定します。Qtは実行時に、もし接続が無効だと知らせます。QObjectはたくさんのオーバーロードバージョンの<I>connect()</I>
メソッドを提供します、詳しくはQt クラスドキュメントを御覧下さい。ひとつのシグナルをひとつ以上のスロットに接続することや、ひとつ以上のシグナルをひとつのスロットに接続することは全く問題はありません。
<P>この簡単なアプレットで注意しておかなければならない最後の特徴はクラスインプリメントの最後の方でインクルードしたedit.mocファイルです。`moc'ファイルはmocプリプロセッサーの出力で、QObjectを継承するどんなクラスにも適用されなければいけません。あなたは通常直接mocを呼び出すよりmakefile経由で呼び出すでしょう。そしてその出力はあなたのアプリケーションにコンパイル、リンクされることを確かめておいて下さい。これを確かめるもっとも簡単な方法は単純にmoc出力をここで使ったクラスインプリメントのアプローチのようにインクルードすることです。あなたがクラス宣言の部分を変更した時にmocが再実行されることを確かめておくことは重要です、というのはそうでないなら変なエラーが出てしまうからです。
<P>あなたはこんな全く使えないアプレットを作るには多過ぎる作業だと考えたでしょう、しかし私たちは長い道のりを来ました。私たちはセッションマネージメント、メニュー作成、国際化、Qtの基礎シグナルとスロットを学びました。次のステージでは私たちのアプレットを実際に何かをさせるようにします!
<H2>
機能を追加する</H2>
今私たちは基礎を知っているのでもうちょっと速く進めるでしょう。私はさっきのセクションでやったように詳しくコードを追うようなことはしません。私たちの目的はアプレットに何かをさせるようにすることで、ここでは文章を編集したいと思います。
<P>あなたはこのチュートリアルのソースファイルのexample2でこのバージョンの
<B>Edit</B>
の完全なコードが見れます。
<CENTER>
<P><IMG SRC="example2.gif" ></CENTER>

<P>Qtはテキストを編集するウィジェット、QMultiLineEditを提供します。これは私たちのエディタアプレットの核をなします。私たちは<B>Edit</B>
クラス宣言の中にあるウィジェットのメンバ変数をこのように宣言します:
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; QMultiLineEdit *view;</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>エディタウィジェットの宣言</CAPTION>
</TABLE>
私たちが今しなければならないことは<B>Edit</B>コンストラクタにウィジェットを作り、それを管理するためKTLWに教えることです。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; view= new QMultiLineEdit(this, "Main View");
&nbsp; setView(view);</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>エディタウィジェットの作成</CAPTION>
</TABLE>

<P>私たちは既にどうやってメニューアイテムを追加するかを知っています、よってloadとsaveのために新しいものを追加するのは簡単です。そのコードは'Exit'
アイテムとほぼ同じです(今私たちには ID_SAVEのような定数が新しいコマンドのために必要なことに注意して下さい)。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; file->insertItem(klocale->translate("Open..."), ID_OPEN );
&nbsp; file->insertItem(klocale->translate("Save"), ID_SAVE);
&nbsp; file->insertItem(klocale->translate("Save As..."), ID_SAVEAS);</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>更にメニューアイテムの追加</CAPTION>
</TABLE>
省略('...')で終る全てのエントリーに注目して下さい。これはこのアイテムを選択することによってユーザーに更に情報を求めるダイアログが表示されるということを示しています。省略をこのように使うことはほぼ全ての世界のGUIの方法であり、あなたもこの慣習に是非従うべきです。
<P>今私たちはメニューアイテムを作成しました。残りの仕事はそれらが何かをするようにすることです。必要なコードは非常に直接的です。最初に`Open'
コマンドを見てみましょう。私たちがしなければならないことは<I>ommandCallback()</I>
スロットのswitchのところに新しいcaseを作ることです。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; case ID_OPEN:
&nbsp;&nbsp;&nbsp; name= QFileDialog::getOpenFileName();
&nbsp;&nbsp;&nbsp; if (!name.isEmpty()) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; load(name);
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; break;</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>Editで</B>ファイルを開く</CAPTION>
</TABLE>
新しいはコードは現代的なファイルダイアログをポップアップし、ファイル名を得るためにQFileDialogクラスのスタティックメソッドを利用しています。もしユーザーが`Cancel'ボタンを押したら空の文字列が返されます。よって私たちはこれをテストしても何も起こりません。もしユーザーがファイル名を選択したら、loadメソッドを呼んでファイルを読み込みエディタウィジェットに渡します。
<P>loadメソッドは選択したファイルの中身を読み込むためにQFileクラスを使います。QFileクラスはQtによって提供され、プラットフォーム非依存のファイルアクセスの方法を提供します。ここでは一回にファイルの中身を1行読むことのできるQTestStreamと組み合わせて使われています。それぞれの行は読まれるたびにテキストウィジェットに付加します。現在のファイル名のトラック名を残しておくことは重要なので(それによって'Save'がインプリメントできる)、即席の
<I>filename_</I>
変数をEditクラスに加えます。この値はloadメソッドによってセットされます。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; void Edit::load(const char *filename) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QFile f( filename );
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if ( !f.open( IO_ReadOnly ) )
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; view->setAutoUpdate( FALSE );
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; view->clear();

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QTextStream t(&amp;f);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; while ( !t.eof() ) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QString s = t.readLine();
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; view->append( s );
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f.close();

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; view->setAutoUpdate( TRUE );
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; view->repaint();
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; filename_= filename;
&nbsp; }</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>load()</B> メソッドのインプリメント</CAPTION>
</TABLE>
注意すべきこのメソッドの特徴はちらつきやパフォーマンスを向上させるためのsetAutoUpdate()の使いかたです。これにはファイル全てが読み込まれるまでテキストウィジェットに再描画を無効にするという効果があります、さもなければウィジェットは各行ごとに再描画するでしょう。ウィジェットをこの状態にしておかないことは重要です。よってファイルからの読み込みが終ったら、わたしたちは再びsetAutoUpdate()を呼び出して更新を有効にします。私たちはまた正しく再描画されたかを確かめるためrepaint()
を呼び出します。
<P>'Save As'コマンドはほとんど'Open'コマンドと同じです。私たちは <I>getSaveFileName()</I>を使います、これは<I>getOpenFileName()</I>と違って選んだファイル名が存在するファイル名であることを要求しません。saveコマンドは簡単です。もし私たちがファイル名を知っているのなら文章を保存し、そうでないなら<I>saveAs()</I>
コマンドが呼び出します。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp;&nbsp;&nbsp; case ID_SAVE:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if (!filename_.isEmpty())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; saveAs(filename_);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; else {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name= QFileDialog::getSaveFileName();
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if (!name.isEmpty())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; saveAs(name);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;
&nbsp;&nbsp;&nbsp; case ID_SAVEAS:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name= QFileDialog::getSaveFileName();
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if (!name.isEmpty())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; saveAs(name);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>Edit</B>でのファイルの保存</CAPTION>
</TABLE>
実際にファイルを保存するコードは簡単です。わたしたちは以前QFileを使いましたが、今回は出力のためにファイルを開きたいことを示すために<I>IO_WriteOnly</I>
フラグを付けてファイルを開きます。わたしたちは全体のテキストをQMultiLineEditのtext()メソッドを使って得られる1(または複数)文字列として書き出します。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; void Edit::saveAs(const char *filename) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QFile f( filename );
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if ( !f.open( IO_WriteOnly ) )
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QTextStream t(&amp;f);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; t &lt;&lt; view->text();
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f.close();

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; setHint(filename);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; filename_= filename;
&nbsp; }</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>saveAs()</B> メソッドのインプリメント</CAPTION>
</TABLE>
このバージョンの例の最後の特徴は`About'ボックスです。これは通常`Help'メニューの`About...'
エントリーを使ってアクセスされるダイアログです。QMessageBox::about()スタティックメソッドを呼び出してここではインプリメントされます。`About'
ボックスは通常アプリケーションのバージョン、作者、ベンダーなどの情報を表示するのに使われます。
<CENTER>
<P><IMG SRC="about.gif" ></CENTER>

<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp;&nbsp;&nbsp; case ID_ABOUT:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; QMessageBox::about(this, "About Edit",
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "This is a simple text editor example program.");
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break;</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><B>saveAs()</B>メソッドのインプリメント</CAPTION>
</TABLE>

<H2>
ユーザーインターフェースの改良</H2>
わたしたちのアプレットは今では有用な仕事をこなせますが、ユーザーインターフェースが貧弱です。たくさんの落度があります、例えば変更を保存しないで終了しようとした時の警告、現在開いているファイルの名前の表示、キーボードショートカット、などです。このような欠点を改良しようと思います。
<CENTER>
<P><IMG SRC="example3.gif" ></CENTER>

<P>最初に取り組むことはアプレットにステータスバーを追加することです。わたしたちはそれを現在開いているファイルの名前を表示させるのに使います。KDEはステータスバーウィジェットKStatusBarを提供し、KTLWはその管理ができるのでわたしたちがしなければならないことはそれほど残されていません。KStatusBarはメニューウィジェットととても似たAPIを持っているので何が行なわれているかあなたは分かるでしょう。ステータスバーを表示したあとKTLWにそれを管理させるために報告して下さい。私たちはID_HINTTEXT定数を使ってステータスバーに表示させる文字列を変えることができます。これは
<I>setHint()</I>スロットにインプリメントします。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; void Edit::initStatusBar()
&nbsp; {
&nbsp;&nbsp;&nbsp; statusbar= new KStatusBar(this);
&nbsp;&nbsp;&nbsp; statusbar->insertItem("Welcome to Edit", ID_HINTTEXT);
&nbsp;&nbsp;&nbsp; statusbar->show();
&nbsp;&nbsp;&nbsp; setStatusBar(statusbar);
&nbsp; }

&nbsp; void Edit::setHint(const char *text)
&nbsp; {
&nbsp;&nbsp;&nbsp; statusbar->changeItem(text, ID_HINTTEXT);
&nbsp; }

</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>ステータスバーを追加</CAPTION>
</TABLE>

<P>私たちは例えば読み込みや保存のようにファイル名を変えるようなメソッドをユーザーが呼び出した時、ステータスバーに文字列をセットします。
<P>今度はツールバーを追加します。これはちょっと複雑です、というのは私たちがボタンアイコンの割り当てやツールチップのセットをする必要があるからです。私たちはツールバーアイコンの読み込み(とキャッシング)を扱うためにKIconLoaderクラスを利用します。
このクラスはKDE File System Standardによって指定されるディレクトリでアイコン(私たちはただ普通の、用途に合うアイコンを使います)を検索します。
私たちはKApplicationによって作られるアイコンローダーにアクセスするため<I>kapp.h</I>
によって提供されるマクロを使います。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; void Edit::initToolBar()
&nbsp; {
&nbsp;&nbsp;&nbsp; KIconLoader *loader = kapp->getIconLoader();
&nbsp;&nbsp;&nbsp; toolbar = new KToolBar(this);

&nbsp;&nbsp;&nbsp; toolbar->insertButton(loader->loadIcon("filenew.xpm"),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID_NEW, TRUE,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; klocale->translate("Create a new file"));
&nbsp;&nbsp;&nbsp; toolbar->insertButton(loader->loadIcon("fileopen.xpm"),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID_OPEN, FALSE,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; klocale->translate("Open a file"));
&nbsp;&nbsp;&nbsp; toolbar->insertButton(loader->loadIcon("filefloppy.xpm"),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID_SAVE, FALSE,&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; klocale->translate("Save the current file"));

&nbsp;&nbsp;&nbsp; addToolBar(toolbar);
&nbsp;&nbsp;&nbsp; toolbar->setBarPos(KToolBar::Top);
&nbsp;&nbsp;&nbsp; toolbar->show();
&nbsp;&nbsp;&nbsp; connect(toolbar, SIGNAL(clicked(int)), SLOT(commandCallback(int)));
&nbsp; }

</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>ツールバーを追加</CAPTION>
</TABLE>
各ツールバーアイテムはinsertButton()を呼び出して作られます。このメソッドはアイコン(KIconLoaderを使ってアクセス)、コマンドid、ボタンが有効になったことを指すフラグ、ツールチップの文章、をパラメターとしてとります。私たちは通常i18nサポートのためにklocale->translate()でツールチップをラップします。
<P>私たちはツールバー"clicked"シグナルをメニューで使ったのと同じスロットに接続します。これは全く安全です。というのはコマンドそれぞれに同じidナンバーを使っているので、わたしたちは多くのシグナルを欲しいだけスロットに自由に接続することができます。
<P>ユーザーインターフェースのデザイン時にユーザーが働きようがない操作を呼び出すことを防止するのは一般的に良い練習です。私たちはこれをQtでアプリケーションの状態に依存して、ウィジェットを有効・無効にすることで行ないます。例えばもしあなたが文章を変更していないのに、元のファイルに保存することはナンセンスです(ただし違うファイルに保存することは有用です)。全てのQt,KDEのウィジェットはウィジェットを`grey
out'し無効にする <I>setEnabled()</I> メソッドを持っています。
<P>KMenuBarとKToolbarは両方ともコマンドidによって特定されるエントリーの状態をセットするメソッドを提供することによってそれらのエントリーを有効・無効にするプロセスを簡単に作れます。わたしたちはこれら両方enableCommand()のインプリメントの中で呼び出します。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; void Edit::enableCommand(int id) //スロット
&nbsp; {
&nbsp;&nbsp;&nbsp; toolbar->setItemEnabled(id, true);
&nbsp;&nbsp;&nbsp; menu->setItemEnabled(id, true);
&nbsp; }

&nbsp; void Edit::disableCommand(int id) // スロット
&nbsp; {
&nbsp;&nbsp;&nbsp; toolbar->setItemEnabled(id, false);
&nbsp;&nbsp;&nbsp; menu->setItemEnabled(id, false);
&nbsp; }</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM>コマンドを有効・無効にする</CAPTION>
</TABLE>
私たちは前後を考慮したコマンドの有効・無効のインプリメントのために、今これらのメソッドを使います。保存すべき変更がない時`Save'コマンドを無効にするために文章が変更されるまでトラックを保つ必要があります。これはユーザーが文章を変更した時にQMultiLineEdit
によって発行されるtextChanged()シグナルを使って行なわれます。このシグナルを使うことで文章が変更されているかを指し示すフラグを作ることができます。これは<B>Edit</B>クラスで定義されているtextChanged()スロットによって行なわれます。このスロットはコマンドの状態も更新します。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>void Edit::textChanged()
{
&nbsp; modified= true;
&nbsp; enableCommand(ID_SAVE);
&nbsp; enableCommand(ID_SAVEAS);
}</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><I>textChanged()</I> スロットの定義</CAPTION>
</TABLE>
load,saveメソッドはまた、フラグを最新に保ち、コマンドを有効・無効にするために変更されなければならないということに注意して下さい。あなたはサンプルプログラムで、この変更を見ることができます。
<P>あなたがこのセクションのエディタに最後に加えることは、エディタに保存されていない変更がある時にユーザーが終了しようとした時に表示される確認ダイアログです。
<BR>&nbsp;
<P><BR>
<CENTER>
<P><IMG SRC="exit-yesno.gif" ></CENTER>

<P>ダイアログはexit()メソッドを使ってインプリメントされます。このメソッドは単に変更を指すためにわたしたちが作ったフラグをテストし、警告ダイアログを表示するためにもうひとつのQMessageBoxスタティックメソッドを使います。
<BR>&nbsp;
<TABLE BORDER COLS=1 WIDTH="90%" NOSAVE >
<TR>
<TD>
<PRE>&nbsp; int Edit::exit()
&nbsp; {
&nbsp;&nbsp;&nbsp; int die= 0;
&nbsp;
&nbsp;&nbsp;&nbsp; if (!modified)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; die= 1;
&nbsp;&nbsp;&nbsp; else
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if (QMessageBox::warning(this, klocale->translate("Unsaved Changes"),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "You have unsaved changes, you will loose "
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "them if you exit now.",
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Exit", "Cancel",
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0, 1, 1))
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; die= 0;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; else
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; die= 1;

&nbsp;&nbsp;&nbsp; return die;
&nbsp; }</PRE>
</TD>
</TR>

<CAPTION ALIGN=BOTTOM><I>exit()</I>メソッドの定義</CAPTION>
</TABLE>

<H2>
間もなくできます...</H2>

<UL>
<LI>
kdehelpサポートの追加</LI>

<LI>
QToolTipGroup</LI>

<LI>
KConfigを使う</LI>

<LI>
ドラッグ＆ドロップ</LI>

<LI>
ネットワークファイルアクセスの追加</LI>
</UL>

<HR><FONT SIZE=-1>This document is Copyright Richard J. Moore 1997-1998
(rich@kde.org)</FONT>
<BR><FONT SIZE=-1>You are free to distribute the examples given here in
any form what so ever, and under any license terms. You are however NOT
free to do the same with the text of the tutorial itself. You are permitted
to distribute the text of the tutorial in electronic formats as long as
it is distributed in its entirity. You may not charge for this document,
though you may recoup packaging costs. You may make paper copies for personal
use only. If you want to distribute this under other terms then drop me
a mail.</FONT>
<BR><FONT SIZE=-1>翻訳者追記
<BR>オリジナルと比べて誤訳、おかしい記述があったら菰田泰生: tklab@ma6.seikyou.ne.jpまで連絡して下さい。なおライセンスについては元の文書に従います。
</FONT>
