---
title: 起動時間の計測
---

<FONT COLOR="#000099"><FONT SIZE=+2>日本語化KDE起動時間データ</FONT></FONT>
<P>KDE自体少し重いプログラムで日本語化KDEはさらに重くなりますが、しかし最近のマシンでは気になる
<BR>ことはないと思います。どうしても遅いと感じたら下のデータと比べてみて下さい。もし比べてみてかなり
<BR>遅い場合は遅くなっている原因があります。大体~/.qti18nrcが原因のことが多いので見直してみて下さい。
<P>用語
<BR>キャッシュある／なし…一回立ちあげたプログラムはメモリにキャッシュが残っていることがあるので
<BR>&nbsp; 次回立ち上げが高速になります。boot直後は当然キャッシュはありません。
<P>--------------------------------------------------------------------------
<BR>[測定環境]
<BR>CPU: MMX/233, mem: 96MB
<BR>OS: VineLinux1.1CR, kernel: 2.0.36
<BR>X: XFree3.3.3.1(+X-TT)
<BR>font: ビットマップフォント
<P>[結果]
<BR><FONT COLOR="#FF0000">1回目: 57秒&nbsp; (boot 直後)</FONT>
<BR><FONT COLOR="#FF0000">2回目: 36秒&nbsp; (X 終了後、再度 startx)</FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">[**追加報告**]</FONT>
<BR><FONT COLOR="#000000">KDE 以前の問題ですが、ためしに、XF86Config の
FontPath を最小限にし、</FONT>
<BR><FONT COLOR="#000000">使わないフォント(ハングル等)をはずして、フォント数を半分程度にしてみました。</FONT>
<BR><FONT COLOR="#000000">結果、以下のようになりました。</FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">[計測結果]</FONT>
<BR><FONT COLOR="#000000">・KDE</FONT>
<BR><FONT COLOR="#000000">ビットマップ</FONT>
<BR><FONT COLOR="#000000">&nbsp; boot 直後： </FONT><FONT COLOR="#FF0000">57秒
-> 50秒</FONT>
<BR><FONT COLOR="#000000">&nbsp; X再起動：&nbsp; </FONT><FONT COLOR="#FF0000">36秒
-> 20秒</FONT>
<BR><FONT COLOR="#000000">TrueType</FONT>
<BR><FONT COLOR="#000000">&nbsp; boot 直後： </FONT><FONT COLOR="#FF0000">48秒</FONT>
<BR><FONT COLOR="#000000">&nbsp; X 再起動：&nbsp; </FONT><FONT COLOR="#FF0000">18秒</FONT>
<BR><FONT COLOR="#000000">・WindowMaker(参考)</FONT>
<BR><FONT COLOR="#000000">&nbsp; boot 直後： <I>20秒</I></FONT>
<BR><FONT COLOR="#000000">&nbsp; X 再起動：&nbsp; <I>11秒</I></FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">ちなみに .qti18nrc は</FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0,
\</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0</FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">XF86Config で5行コメントアウトしました。</FONT><FONT COLOR="#000000"></FONT>
<P><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/japanese:unscaled"</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/TrueType"</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/misc:unscaled"</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/75dpi:unscaled"</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/100dpi:unscaled"</FONT>
<BR><FONT COLOR="#000000">&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/Type1"</FONT>
<BR><FONT COLOR="#000000">#&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/Speedo"</FONT>
<BR><FONT COLOR="#000000">#&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/japanese"</FONT>
<BR><FONT COLOR="#000000">#&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/misc"</FONT>
<BR><FONT COLOR="#000000">#&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/75dpi"</FONT>
<BR><FONT COLOR="#000000">#&nbsp;&nbsp;&nbsp; FontPath&nbsp;&nbsp; "/usr/X11R6/lib/X11/fonts/100dpi"</FONT>
<BR>--------------------------------------------------------------------------
<BR>［測定環境］
<BR><FONT COLOR="#FF0000">キャッシュにある状態</FONT>ではかりました。
<P>Vine-Linux 1.0(1 -2.0.36 + glibc-2.0.7 + XFree86-3.3.3.1)
<BR>Celeron(375MHz(本来は?)) + memory 128MB
<BR>で kinput2 + kfm + kvt を立ち上げます。
<BR>~/.cshrcでdateコマンドを実行してkvtに表示された時間と
<BR>~/.xinitrcの最初に表示させた時間との差をとりました。
<P>1. TrueType fonts
<P>"~/.qti18nrc"
<BR>Courier&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -aliastt-gothic-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-aliastt-mincho-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0
<BR>Helvetica&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -aliastt-gothic-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-aliastt-mincho-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0
<BR>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
-aliastt-gothic-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-aliastt-mincho-*-r-normal--0-0-0-0-c-0-jisx0208.1983-0
<P>で<FONT COLOR="#FF0000">16秒</FONT>。
<P>2. Bitmap fonts
<P>Courier&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
<BR>Helvetica&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-*-*-jisx0208.1983-*,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-alias-fixed-*-*-*--*-*-*-*-*-*-jisx0201.1976-*
<BR>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-*-*-jisx0208.1983-*,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

-alias-fixed-*-*-*--*-*-*-*-*-*-jisx0201.1976-*
<P>で<FONT COLOR="#FF0000">19から20秒</FONT>
<P>3. ~/.qti18nrcなし
<BR>で<FONT COLOR="#FF0000">42から44秒</FONT>
<P>でした。
<BR>それぞれ2回づつ計測しています。
<BR>--------------------------------------------------------------------------
<BR>［測定環境］
<BR>Pentium2-333(417MHz)x2, Memory 128MB,
<BR>FreeBSD-3.2R, XFree3.3.3.1+X-TT
<BR>kpanel,kfm等を立ち上げた場合の時間です。
<P>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュなし: 17秒</FONT>
<BR>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュあり: 11秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュなし: 16秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュあり: 10秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュなし: 30秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュあり: 25秒</FONT>
<P>.qti18nrc は以下のとおりです。
<BR>&nbsp;
<P>・ビットマップ（FreeBSDにVineのAlias-Fixedを入れています）
<P>fixed -alias-fixed-*-*-*--14-*-*-*-c-*-jisx0201.1976-0, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--14-*-*-*-c-*-jisx0208.1983-0

<BR>*&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0

<BR>&nbsp;
<P>・TrueType
<P>* -wadalab-gothic-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
<P>------------------------------------------------------------------------------
<BR>［測定環境］
<BR>Cyrix 6x86MX-PR233(200MHz), Memory 64MB
<BR>FreeBSD 3.2R, XFree3.3.3.1+X-TT
<P>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュなし: 30秒</FONT>
<BR>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュあり: 22秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュなし: 30秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュあり: 20秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュなし: 62秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュあり: 50秒</FONT>
<P>ビットマップとTrueTypeで時間がほとんど同じです。
<P>CyrixのCPUは浮動小数演算が遅いかわりに整数演算が速く、
<BR>コンパイルや圧縮・解凍では有利だということが言われていましたが、
<BR>どうもその辺が関係している可能性があります。
<BR>（ビットマップの展開は整数で、TrueTypeは浮動小数？）
<P>CyrixとMMXという違いはあるのですが大体同スペックですので、
<BR>ちょっとこれは遅すぎるという感じがします。
<BR>~/.qti18nrc はどの設定しておられるでしょうか？
<BR>ひょっとして以下のようにすると速くなるかもしれません。
<P>fixed -alias-fixed-*-*-*--14-*-*-*-c-*-jisx0201.1976-0, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--14-*-*-*-c-*-jisx0208.1983-0

<BR>*&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0

<P>fixedは変な書き方をしていますが、
<BR>11ポイントで半角2文字が全角1文字と同じ幅になるようにしたためです。
<BR>（なぜか11ポイントが実際には14ポイントとして表示されるため）
<BR>-------------------------------------------------------------------------
<BR>［測定環境］
<BR>Cyrix 6x86MX-PR233(200MHz), Memory 64MB
<BR>Vine Linux 1.1, XFree3.3.3.1+X-TT
<P>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュなし: 38秒</FONT>
<BR>&nbsp;ビットマップ、<FONT COLOR="#FF0000">キャッシュあり: 20秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュなし: 38秒</FONT>
<BR>&nbsp;TrueType、　　<FONT COLOR="#FF0000">キャッシュあり: 20秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュなし: 54秒</FONT>
<BR>.qti18nrcなし、<FONT COLOR="#FF0000">キャッシュあり: 35秒</FONT>
<P>ビットマップとTrueTypeで起動時間が同じでした。
<BR>-------------------------------------------------------------------------
<BR>［測定環境］
<BR>PowerPC604e/200Mhz(PowerMac7600)
<BR>512k(2nd cache) , Memory 144MB
<BR>LinuxPPC 1999(RedHat6.0見当)
<BR>XFree86-3.3.3.1 + X-TT
<BR>kde*-1.1.1+i18n
<P>startx(startkde)にかかった時間
<BR><FONT COLOR="#FF0000">キャッシュ無し : 34秒</FONT>
<BR><FONT COLOR="#FF0000">キャッシュ有り : 21秒</FONT>
<P>----------------------------------------------------------------------------
<BR>［測定環境］
<BR>Celeron300A(on 450MHz)x2,memory 128MB
<BR>Debian GNU/Linux 2.1(Slink),Linux-2.2.12
<BR>XFree3.3.5+X-TT-1.2.1
<BR>KDE-1.1.2pre3+patchいろいろ
<BR>同時にkinput2,kterm x2も起動,その他のkde関連のプログラム(kfm等)は立ちあげず
<BR>フォントにはビットマップフォントを使用
<P>で<FONT COLOR="#FF0000">約15秒</FONT>です。<FONT COLOR="#FF0000">キャッシュにある状態では11秒</FONT>ぐらいでした。
<BR>----------------------------------------------------------------------------
<BR>［測定環境］
<BR>P-MMX166, Memory: 128MB
<BR>VineLinux1.1CR,kernel 2.0.36
<P>ログインしてkinput2 とkterm が立ち上がるまでの時間を計りました。
<P>Boot直後は、<FONT COLOR="#FF0000"> 50秒</FONT>。
<BR>一旦、ログアウトしてから再ログインしたら <FONT COLOR="#FF0000">32秒</FONT>（以降、同じ）
<P>試しに、メモリを64MBに落としてみましたが、同じ結果でした。
<P>~/.qti18nrc
<BR>fixed&nbsp;&nbsp; -misc-fixed-*-*-*--*-*-*-*-*-*-jisx0201.1976-0, <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -misc-fixed-*-*-*--*-*-*-*-*-*-jisx0208.1983-0

<BR>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-*-*-jisx0201.1976-0,
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -alias-fixed-*-*-*--*-*-*-*-*-*-jisx0208.1983-0

<p>All units are in pixels unless otherwise specified</p>
<p>最終更新日: 1999年7月15日</p>
