---
title: KDE/Qt Patches
---

<p><a href="./index-ja.html">[Japanese]</a>[English]</p>

<p>
  Here are patches for KDE and Qt. Most of them are developed to fix specified problems in Japanese (or CJK) environment.
  Almost all of them are reported to the development team.
  When you find bug(s) or developed new patch, report it directory to <a href="https://bugs.kde.org/">bugs.kde.org</a>
  or tell us through the <a href="http://mail.kde.gr.jp/mailman/listinfo/kdeveloper">devlopers' ML</a>
</p>

<h2><a name="kde451">KDE 4.5.2</a></h2>
<ul>
  <li>
    <a href="./files/kde4/kdegraphics-4.5.2-kolourpaint-im.patch">kdegraphics-4.5.2-kolourpaint-im.patch</a>&nbsp;<br>
    This patch allow us to input Japanese (probably also Chinese and Korean) character with text tool of KolourPaint. (see <a href="https://bugs.kde.org/show_bug.cgi?id=194821" target="_blank">Bug 194821</a>)
  </li>
</ul>


<h2><a name="kde442">KDE 4.4.2</a></h2>
<ul>
  <li>
    <a href="./files/kde4/kdelibs-4.4.2-kate-inputmethod.diff">kdelibs-4.4.2-kate-inputmethod.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    This patch fixes the bug that you cannot enter Japanese text in Kate/Kwrite using input methods through their Qt4 modules. This patch is merged in trunk. (see <a href="http://bugs.kde.org/show_bug.cgi?id=206455">Bug 206455</a>, <a href="http://bugs.kde.org/show_bug.cgi?id=222620">Bug 222620</a>)
  </li>
</ul>

<hr>

<h2>Qt-4.6.2</h2>
<ul>
  <li>
    <a href="./files/qt4/qt-everywhere-opensource-src-4.6.2-IgnoreGlobalAdvanceWidth.diff">qt-everywhere-opensource-src-4.6.2-IgnoreGlobalAdvanceWidth.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    This patch fixes the bug that Qt displays half width character (e.g. alphabet) as full width in some Japanese fonts, such as Monospace font. Merged in Qt4.7 branch. (see <a href="https://bugreports.qt.io/browse/QTBUG-1726">QTBUG-1726</a>)
  </li>

  <li>
    <a href="./files/qt4/qt-everywhere-opensource-src-4.6.2-updateWhenPreeditChanged.diff">qt-everywhere-opensource-src-4.6.2-updateWhenPreeditChanged.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    QLineEdit isn't updated when preedit text is changed. So inputting into QLineEdit through IMEs such as xim or scim become sluggish and unresponsive. This patch fix the bug and is merged in Qt 4.6 branch. (see <a href="https://bugreports.qt.io/browse/QTBUG-8807">QTBUG-8807</a>).
  </li>
</ul>

<hr>

<h2>KDE 3.1.1</h2>
<ul>
  <li>
    <a href="./files/kde3/kdepim-3.1.1-korganizer-timezone-20030403.diff">kdepim-3.1.1-korganizer-timezone-20030403.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Character transformation is missing on combobox for timezone of KOrganizer. And can not use correct timezone by this problem. This patch is solved above problem.
  </li>

  <li>
    <a href="./files/kde3/kdenetwork-3.1.1-kmail-kmmsgpart-20030402.diff">kdenetwork-3.1.1-kmail-kmmsgpart-20030402.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    When Encoding is &quot;Auto&quot;, this patch changes unknown charset into &quot;network codec.&quot;<br>
    (The codec for locale is &quot;iso-2022-jp&quot; in Japan.)
  </li>
</ul>

<hr>

<h2>Qt-3.1.2</h2>
<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.2-xim-changeDefaultOverTheSpot-20030313.diff">qt-x11-free-3.1.2-xim-changeDefaultOverTheSpot-20030313.diff</a><br>
    Changes default XIM style to &quot;Over The Spot.&quot;
  </li>

  <li>
    <a href="./files/qt3/qt-x11-free-3.1.2-xim-toUseAtokx-20030313.diff">qt-x11-free-3.1.2-xim-toUseAtokx-20030313.diff</a><br>
    The patch is solved problem that strings were not entered by select from conversion list on ATOK X.
  </li>
</ul>

<hr>
<h2>Qt-3.1.1</h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.1-fix-callPosition-XFilterEvent-20021223.diff">qt-x11-free-3.1.1-fix-callPosition-XFilterEvent-20021223.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    This patch solves the problem that application was miss-operate XIM event
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.1-qjpunicode-20021223.diff">qt-x11-free-3.1.1-qjpunicode-20021223.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix conversion table for "~"
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.1-xim-changeDefaultOverTheSpot-20021223.diff">qt-x11-free-3.1.1-xim-changeDefaultOverTheSpot-20021223.diff</a><br>
    Changes default XIM style ro "Over The Spot"
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.1-xim-toUseAtokx-20021223.diff">qt-x11-free-3.1.1-xim-toUseAtokx-20021223.diff</a><br>
    This patch solves the problem that strings were not entered by select from conversion list on ATOK X.
  </li>
</ul>

<hr>
<h2><a name="qt310">Qt-3.1.0</a></h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.1.0-fix-callPosition-XFilterEvent-20021217.diff">qt-x11-free-3.1.0-fix-callPosition-XFilterEvent-20021217.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    The patch solves problem that application was miss-operate XIM event.
  </li>

  <li>
    <a href="./files/qt3/qt-x11-free-3.1.0-qjpunicode-20021219.diff">qt-x11-free-3.1.0-qjpunicode-20021219.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix conversion table for "~"
  </li>

  <li>
    <a href="./files/qt3/qt-x11-free-3.1.0-xim-changeDefaultOverTheSpot-20021220.diff">qt-x11-free-3.1.0-xim-changeDefaultOverTheSpot-20021220.diff</a><br>
    Changes default XIM style ro "Over The Spot."
  </li>

  <li>
    <a href="./files/qt3/qt-x11-free-3.1.0-xim-toUseAtokx-20021223.diff">qt-x11-free-3.1.0-xim-toUseAtokx-20021223.diff</a><br>
    This patch solves the problem that strings were not entered by select from conversion list on ATOK X.
  </li>
</ul>

<hr>
<h2><a name="qt303">Qt-3.0.3</a></h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.3-fixXIMFocusProblem-addSelectXIMInputStyleInQtconfig-20020407.diff">qt-x11-free-3.0.3-fixXIMFocusProblem-addSelectXIMInputStyleInQtconfig-20020407.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix XIM focus problem. Add select XIM input style in qtconfig. (Note: Default input style is On The Spot. But On The Spot is buggy, therefor maybe better you select Over The Spot.) Usage: qtconfig -> Interface -> XIM Input Style: ***
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.3-fixJapanesePrintProblem-20020401.diff">qt-x11-free-3.0.3-fixJapanesePrintProblem-20020401.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix Japanese printing ploblem. <br>Bug 1: If first character to print is ASCII character, the later Japanese is not displayed.<br>Bug 2: Character conficts with character, and it is displayed.
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.3-qclipboard-20020417.diff">qt-x11-free-3.0.3-qclipboard-20020417.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fixes copy and paste between Qt and non-Qt applications.
  </li>
</ul>

<hr>

<h2><a name="qt302">Qt-3.0.2</a></h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.2-qtextcodec-20020301.diff">qt-x11-free-3.0.2-qtextcodec-20020301.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fixes the bug in QTextCodec::codecForLocale().
  </li>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.2-zlibDoubleFree-20020318.diff">qt-x11-free-3.0.2-zlibDoubleFree-20020318.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix the security hole in zlib.
  </li>
</ul>

<hr>

<h2><a name="qt301">Qt-3.0.1</a></h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.1-qtextcodec-20011222.diff">qt-x11-free-3.0.1-qtextcodec-20011222.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fixes the bug in QTextCodec::codecForLocale().
  </li>
</ul>

<hr>

<h2><a name="qt300">Qt-3.0.0</a></h2>

<ul>
  <li>
    <a href="./files/qt3/qt-x11-free-3.0.0-qclipboard-20011111.diff">qt-x11-free-3.0.0-qclipboard-20011111.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    This patch allow you to copy and paste between Qt and non-Qt applications.
  </li>
</ul>


<hr>
<h2><a name="qt232">Qt-2.3.2</a></h2>

<p>Qt use .fontguess.<br>
  About a format of .fontguess, please look at <a href="fontguess.html">this page</a>.
</p>

<ul>
  <li><a href="qt-2.3.2-xim-20011112.diff">qt-2.3.1-xim-20011112.diff</a><br/>
    for ATOK X (XIM widget) <br>
    <br></li>
  <li><a href="qt-2.3.2-qclipboard-20020106.diff">qt-2.3.2-qclipboard-20020106.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
  <li><a href="qt-2.3.2-xim-overflow-20020205.diff">qt-2.3.2-xim-overflow-20020205.diff</a>
    <font color="red">REPORTED</font><br>
    worked around XmbLookupString's bug<br>
    <br></li>
  <li><a href="qt-2.3.2-qtextcodec-20020301.diff">qt-2.3.2-qtextcodec-20020301.diff</a>
    <font color="red">REPORTED</font><br>
    bug fix QTextCodec::codecForLocale()<br>
    <br></li>
  <li><a href="qt-2.3.2-zlibDoubleFree-20020318.diff">qt-2.3.2-zlibDoubleFree-20020318.diff</a>
    <font color="red">REPORTED</font><br>
    bug fix<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt231">Qt-2.3.1</a></h2>

<ul>
  <li><a href="qt-2.3.1-xim-20010617.diff">qt-2.3.1-xim-20010617.diff</a><br />
    for ATOK X (XIM widget) <br>
    <br></li>
  <li><a href="qt-2.3.1-qclipboard-20010617.diff">qt-2.3.1-qclipboard-20010617.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
  <li><a href="qt-2.3.1-qstring-toDouble-i18n-20010617.diff">qt-2.3.1-qstring-toDouble-i18n-20010617.diff</a>
    <font color="red">REPORTED</font><br>
    fix the handling of non-latin1 character with QString::toDouble( bool * ok=0 )<br>
    <br></li>
  <li><a href="qt-2.3.1-qpsprinter-ja-20010620.diff">qt-2.3.1-qpsprinter-ja-20010620.diff</a>
    <font color="red">REPORTED</font><br>
    fix print problem of Japanese (compiler(gcc 2.96) bug)<br>
    <br></li>
  <li><a href="qt-2.3.1-showFullScreen-fix-20010624.diff">qt-2.3.1-showFullScreen-fix-20010624.diff</a>
    <font color="red">REPOTED</font><br>
    fix bug of full screen mode.
    <br></li>
  <li><a href="qt-2.3.1-qtextcodec-20020301.diff">qt-2.3.1-qtextcodec-20020301.diff</a>
    <font color="red">REPORTED</font><br>
    bug fix QTextCodec::codecForLocale()<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta4">Qt-3.0.0 beta4</a></h2>

<ul>
  <li><a href="qt-3.0.0-beta4-qclipboard-20010910.diff">qt-3.0.0-beta4-qclipboard-20010910.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta2">Qt-3.0.0 beta2</a></h2>

<ul>
  <li><a href="qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff">qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta1">Qt-3.0.0 beta1</a></h2>

<ul>
  <li><a href="qt-3.0.0-beta1-qclipboard-20010524.diff">qt-3.0.0-beta1-qclipboard-20010524.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt230">Qt-2.3.0</a></h2>

<ul>
  <li><a href="qt-2.3.0-xim-20010309.diff">qt-2.3.0-xim-20010309.diff</a><br />
    for ATOK X (XIM widget) <br>
    <br></li>
  <li><a href="qt-2.3.0-qclipboard-20010309.diff">qt-2.3.0-qclipboard-20010309.diff</a>
    <font color="red">REPORTED</font><br>
    fix copy and paste between Qt and non-Qt applications<br>
    <br></li>
  <li><a href="qt-2.3.0-qstring-toDouble-i18n-20010422.diff">qt-2.3.0-qstring-toDouble-i18n-20010422.diff</a>
    <font color="red">REPORTED</font><br>
    fix the handling of non-latin1 character with QString::toDouble( boolin1 character with QString::toDouble( boolin1 character with QString::toDouble( boolin1 character with QString::toDouble( bool * ok=0 )<br>
    <br></li>
  <li><a href="qt-2.3.0-freebsd-3.x-20010309.diff">qt-2.3.0-freebsd-3.x-20010309.diff</a><br>
    for FreeBSD 3.x<br>
    <br></li>
  <li><a href="qt-2.3.0-darwin-20010521.diff">qt-2.3.0-darwin-20010521.diff</a><br>
  <li><a href="qt-darwin-configs-20010521.tar.gz">qt-darwin-configs-20010521.tar.gz</a><br>
    for Darwin and supports dylib(Dynamic Link Library)<br>
    <br></li>
</ul>


<hr>
<h2><a name="kde300">KDE 3.0.0</a></h2>

<ul>
  <li>
    <a href="./files/kde3/kde-i18n-ja-3.0_bugfix_20020408.diff.bz2">kde-i18n-ja-3.0_bugfix_20020408.diff.bz2</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Fix bug kde-i18n-ja packege
  </li>
  <li>
    <a href="./files/kde3/kdeaddons-3.0-babelfish-cjk-20020407.diff">kdeaddons-3.0-babelfish-cjk-20020407.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Add Chinese <-> English, Japanese <-> English, Korean <-> English translation support for Konqueror using babel.altavista.com.
  </li>
  <li>
    <a href="./files/kde3/kdelibs-3.0-kate-charset-20020407.diff">kdelibs-3.0-kate-charset-20020407.diff</a>&nbsp;<span style="color: Red;">Reported</span><br>
    Add charset select in KPart.
  </li>
  <li>
    <a href="./files/kde3/kdebase-3.0-samba-add-TerminalCode-20020407.diff">kdebase-3.0-samba-add-TerminalCode-20020407.diff</a><br>
    Add Terminal Code in kio samba
  </li>
  <li>
    <a href="./files/kde3/kdenetwork-3.0-kmail-show_userAgent-20020407.diff">kdenetwork-3.0-kmail-show_userAgent-20020407.diff</a><br>
    This patch allow you to display "X-Mailer" and "User-Agent."
  </li>
</ul>

<hr>

<h2><a name="kde222">KDE 2.2.2</a></h2>

<ul>
  <li><a href="kdelibs-2.2.2-keditcl-20011126.diff">kdelibs-2.2.2-keditcl-20011126.diff</a><br>
    fix an Cut(Ctrl+k)&Paste(Ctrl+y) problem of KEdit<br>
    <br></li>
  <li><a href="kdenetwork-2.2.2-ksirc-ja-20011127.diff">kdenetwork-2.2.2-ksirc-ja-20011127.diff</a><br>
    support for Japanese<br>
    Note:<br>
    &middot When you close channel window of Japanese name, ksirc does crash.<br>
    &middot ksirc has changed spcific character of Japanese channel name into other character.<br>
    <br></li>
  <li><a href="kdenetwork-2.2.2-kmail-ja-local-20020129.diff">
      kdenetwork-2.2.2-kmail-ja-local-20020129.diff</a><br>
    When Encoding is "Auto", this patch changes unknown charset into locale codec.
    <br>(The codec for locale is "eucjp" in Japan, But we consider locale codec to
    be "jis7", because mostly mail systems in Japan are using "jis7".)<br>
    Automatic distinction of unknown charset mail is totion of unknown charset mail
    is to be implemented in the future.<br>
    Thanks, KMail Developers<br>
    <br></li>
  <li><a href="kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff">kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff</a><br>
    display "X-Mailer" and "User-Agent". Please apply "kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff" first. <br>
    <br></li>
  <li><a href="kdebase-2.2.2-konsole-ja-20011126.diff">kdebase-2.2.2-konsole-ja-20011126.diff</a><br>
    i18n Konsole. Please set font with "Settings->Font->Custom...". <br>
    <br></li>
  <li><a href="kdevelop-2.0.2-font-i18n-20011127.diff">kdevelop-2.0.2-font-i18n-20011127.diff</a><br>
    fix font<br>
    <br></li>
  <li><a href="kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff">kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff</a><br>
    Auto encode. (Japanese version only. EUC_JP, JIS7, SHIFT_JIS)<br>
    <br></li>
  <li><a href="kdenetwork-2.2.2-knewsticker-utf8-20011127.diff">kdenetwork-2.2.2-knewsticker-utf8-20011127.diff</a><br>
    internationalize knewsticker<br>
    <br></li>
  <li><a href="kdebase-2.2.2-kpersonalizer-charset-20011126.diff">kdebase-2.2.2-kpersonalizer-charset-20011126.diff</a><br>
    fix bug that you can't set charset.<br>
    <br></li>
  <li><a href="kdeaddons-2.2.2-babelfish-ja-20011126.diff">kdeaddons-2.2.2-babelfish-ja-20011126.diff</a><br>
    Add Japanese <-> English<br>
    <br></li>
</ul>


<hr>
<h2><a name="kde221">KDE 2.2.1</a></h2>

<ul>
  <li><a href="kdelibs-2.2.1-keditcl-20010922.diff">kdelibs-2.2.1-keditcl-20010922.diff</a><br>
    fix an Cut(Ctrl+k)&Paste(Ctrl+y) problem of KEdit<br>
    <br></li>
  <li><a href="kdenetwork-2.2.1-ksirc-ja-20010922.diff">kdenetwork-2.2.1-ksirc-ja-20010922.diff</a><br>
    support for Japanese<br>
    Note:<br>
    &middot When you close channel window of Japanese name, ksirc does crash.<br>
    &middot ksirc has changed spcific character of Japanese channel name into other character.<br>
    <br></li>
  <li><a href="kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff">kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff</a><br>
    When Encoding is "Auto", this patch changes unkn", this patch changes unknown charset in<br>
    &middot When country is ja, charset is iso-2022-jp<br>
    &middot When country is tw, charset is big5<br>
    &middot When country is kr, charset is euc-kr<br>
    from iso8859-1.<br>
    Automatic distinction of unknown charset mail is totion of unknown charset mail is to be implemented in the future.<br>
    Thanks, KMail Developers<br>
  <li><a href="kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff">kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff</a><br>
    display "X-Mailer" and "User-Agent". Please apply "kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff" first. <br>
  </li>
  <li><a href="kdebase-2.2.1-konsole-ja-20010922.diff">kdebase-2.2.1-konsole-ja-20010922.diff</a><br>
    i18n Konsole. Please set font with "Settings->Font->Custom...". <br>
  </li>
  <li><a href="kdevelop-2.0.1-font-i18n-20010922.diff">kdevelop-2.0.1-font-i18n-20010922.diff</a><br>
    fix font<br>
    <br></li>
  <li><a href="kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff">kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff</a><br>
    Auto encode. (Japanese only. EUC_JP, JIS7, SHIFT_JIS)<br>
    <br></li>
  <li><a href="kdenetwork-2.2.1-knewsticker-utf8-20010922.diff">kdenetwork-2.2.1-knewsticker-utf8-20010922.diff</a><br>
    internationalize knewsticker<br>
    <br></li>
  <li><a href="kdebase-2.2.1-kpersonalizer-charset-20010922.diff">kdebase-2.2.1-kpersonalizer-charset-20010922.diff</a><br>
    fix bug that you can't set charset.<br>
    <br></li>
  <li><a href="kdevelop-2.0.1-i18n-20010922.diff">kdevelop-2.0.1-i18n-20010922.diff</a><br>
    fix i18n. sidebar, make oix i18n. sidebar, make output.<br>
    <br></li>
</ul>

<hr>
<h2><a name="kde22">KDE 2.2</a></h2>

<ul>
  <li><a href="kdelibs-2.2-keditcl-20010816.diff">kdelibs-2.2-keditcl-20010816.diff</a><br>
    fix an Cut(Ctrl+k)&Paste(Ctrl+y) problem of KEdit<br>
    <br></li>
  <li><a href="kdenetwork-2.2-ksirc-ja-20010816.diff">kdenetwork-2.2-ksirc-ja-20010816.diff</a><br>
    support for Japanese<br>
    Note:<br>
    &middot When you close channel window of Japanese name, ksirc does crash.<br>
    &middot ksirc has changed spcific character of Japanese channel name into other character.<br>
    <br></li>
  <li><a href="kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff">kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff</a><br>
    When Encoding is "Auto", this patch changes unkn", this patch changes unknown charset in<br>
    &middot When country is ja, charset is iso-2022-jp<br>
    &middot When country is tw, charset is big5<br>
    &middot When country is kr, charset is euc-kr<br>
    from iso8859-1.<br>
    Automatic distinction of unknown charset mail is totion of unknown charset mail is to be implemented in the future.<br>
    Thanks, KMail Developers<br>
  <li><a href="kdenetwork-2.2-kmail-show_userAgent-20010825.diff">kdenetwork-2.2-kmail-show_userAgent-20010825.diff</a><br>
    display "X-Mailer" and "User-Agent". Please apply "kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff" first. <br>
  </li>
  <li><a href="kdebase-2.2-konsole-ja-20010818.diff">kdebase-2.2-konsole-ja-20010818.diff</a><br>
    i18n Konsole. Please set font with "Settings->Font->Custom...". <br>
  </li>
  <li><a href="kdevelop-2.0-font-i18n-20010816.diff">kdevelop-2.0-font-i18n-20010816.diff</a><br>
    fix font<br>
    <br></li>
  <li><a href="kdelibs-2.2-khtml-autoencode-ja-20010816.diff">kdelibs-2.2-khtml-autoencode-ja-20010816.diff</a><br>
    Auto encode. (Japanese only. EUC_JP, JIS7, SHIFT_JIS)<br>
    <br></li>
  <li><a href="kdenetwork-2.2-knewsticker-utf8-20010816.diff">kdenetwork-2.2-knewsticker-utf8-20010816.diff</a><br>
    internationalize knewsticker<br>
    <br></li>
  <li><a href="kdebase-2.2-kpersonalizer-charset-20010816.diff">kdebase-2.2-kpersonalizer-charset-20010816.diff</a><br>
    fix bug that you can't set charset.<br>
    <br></li>
  <li><a href="kdevelop-2.0-i18n-20010817.diff">kdevelop-2.0-i18n-20010817.diff</a><br>
    fix i18n. sidebar, make oix i18n. sidebar, make output.<br>
    <br></li>
</ul>


<hr>
<h2><a name="qt232">Qt-2.3.2</a></h2>

<p>
  現在の Qt は .qti18nrc ではなく .fontguess を使用します。<br>
  .fontguess の記述の仕方については<a href="./fontguess-ja.html">こちら</a>をご覧ください。
</p>

<ul>
  <li><a href="./qt-2.3.2-xim-20011112.diff">qt-2.3.2-xim-20011112.diff</a><br />
    ATOK X を使用することができます。<br>
    <br></li>
  <li>
    <a href="./qt-2.3.2-qclipboard-20020106.diff">qt-2.3.2-qclipboard-20020106.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
  <li>
    <a href="./qt-2.3.2-xim-overflow-20020205.diff">qt-2.3.2-xim-overflow-20020205.diff</a>
    <font color="red">報告済</font><br />
    XIMで1度に入力できる最大文字数に限界があるバグをフィックスします。
  </li>
  <li><a href="./qt-2.3.2-qtextcodec-20020301.diff">qt-2.3.2-qtextcodec-20020301.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
  <li><a href="./qt-2.3.2-zlibDoubleFree-20020318.diff">qt-2.3.2-zlibDoubleFree-20020318.diff</a>
    <font color="red">報告済</font><br>
    zlib のセキュリティバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt231">Qt-2.3.1</a></h2>

<ul>
  <li><a href="./qt-2.3.1-xim-20010617.diff">qt-2.3.1-xim-20010617.diff</a><br />
    ATOK X を使用することができます。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qclipboard-20010617.diff">qt-2.3.1-qclipboard-20010617.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qstring-toDouble-i18n-20010617.diff">qt-2.3.1-qstring-toDouble-i18n-20010617.diff</a>
    <font color="red">報告済</font><br>
    QString::toDouble( bool * ok=0 ) での non-latin1 文字の取り扱いを修正します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qpsprinter-ja-20010620.diff">qt-2.3.1-qpsprinter-ja-20010620.diff</a>
    <font color="red">報告済</font><br>
    日本語を印刷できるようになります。<br>
    この問題は一部のコンパイラー（gcc 2.96）だけで発生します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-showFullScreen-fix-20010624.diff">qt-2.3.1-showFullScreen-fix-20010624.diff</a>
    <font color="red">報告済</font><br>
    フルスクリーンモードのバグを修正します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qtextcodec-20020301.diff">qt-2.3.1-qtextcodec-20020301.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta4">Qt-3.0.0 beta4</a></h2>

<ul>
  <li><a href="./qt-3.0.0-beta4-qclipboard-20010910.diff">qt-3.0.0-beta4-qclipboard-20010910.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta2">Qt-3.0.0 beta2</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff">qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta1">Qt-3.0.0 beta1</a></h2>

<ul>
  <li><a href="./qt-3.0.0-beta1-qclipboard-20010524.diff">qt-3.0.0-beta1-qclipboard-20010524.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt230">Qt-2.3.0</a></h2>

<ul>
  <li>
    <a href="./qt-2.3.0-xim-20010309.diff">qt-2.3.0-xim-20010309.diff</a><br />
    ATOK X を使用することができます。
  </li>
  <li><a href="./qt-2.3.0-qclipboard-20010309.diff">qt-2.3.0-qclipboard-20010309.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。</li>
  <li>
    <a href="./qt-2.3.0-qstring-toDouble-i18n-20010422.diff">qt-2.3.0-qstring-toDouble-i18n-20010422.diff</a>
    <font color="red">報告済</font><br>
    QString::toDouble( bool * ok=0 ) での non-latin1 文字の取り扱いを修正します。
  </li>
  <li>
    <a href="./qt-2.3.0-freebsd-3.x-20010309.diff">qt-2.3.0-freebsd-3.x-20010309.diff</a><br>
    FreeBSD 3.x でコンパイルを通すためのパッチです。
  </li>
  <li>
    <a href="./qt-2.3.0-darwin-20010521.diff">qt-2.3.0-darwin-20010521.diff</a>
  </li>
  <li>
    <a href="./qt-darwin-configs-20010521.tar.gz">qt-darwin-configs-20010521.tar.gz</a><br />
    Darwin でコンパイルを通すためのパッチです。（Dynamic Link ライブラリに対応しています。）<br>
    Mac OS X で動かすには X サーバが必要です。
  </li>
</ul>


<hr>
<h2><a name="kde300">KDE 3.0.0</a></h2>


<ul>

  <li><a href="./kdebase-3.0-samba-add-TerminalCode-20020407.diff">kdebase-3.0-samba-add-TerminalCode-20020407.diff</a><br>
    <br>
    <br></li>
  <li><a href="./kdenetwork-3.0-kmail-show_userAgent-20020407.diff">kdenetwork-3.0-kmail-show_userAgent-20020407.diff</a><br>
    <br>
    <br></li>

</ul>

<h2><a name="kde222">KDE 2.2.2</a></h2>

<ul>
  <li><a href="./kdelibs-2.2.2-keditcl-20011126.diff">kdelibs-2.2.2-keditcl-20011126.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-ksirc-ja-20011127.diff">kdenetwork-2.2.2-ksirc-ja-20011127.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li><a href="./kdenetwork-2.2.2-kmail-ja-local-20020129.diff">
      kdenetwork-2.2.2-kmail-ja-local-20020129.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは locale codec になるように
    なります。<br>
    (ただし、日本の locale codec は、eucjp ですが、jis7とします)<br>
    <a href="./kdenetwork-2.2.2-kmail-unknowncharset-cjk-20011127.diff">
      kdenetwork-2.2.2-kmail-unknowncharset-cjk-20011127.diff</a>の置換版です。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff">kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li><a href="./kdebase-2.2.2-konsole-ja-20011126.diff">kdebase-2.2.2-konsole-ja-20011126.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。
  </li>
  <li><a href="./kdevelop-2.0.2-font-i18n-20011127.diff">kdevelop-2.0.2-font-i18n-20011127.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff">kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-knewsticker-utf8-20011127.diff">kdenetwork-2.2.2-knewsticker-utf8-20011127.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2.2-babelfish-ja-20011126.diff">kdeaddons-2.2.2-babelfish-ja-20011126.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-kmail-honyaku-20011126.diff">kdenetwork-2.2.2-kmail-honyaku-20011126.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2.2-kpersonalizer-charset-20011126.diff">kdebase-2.2.2-kpersonalizer-charset-20011126.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
</ul>

<h2><a name="kde221">KDE 2.2.1</a></h2>

<ul>
  <li><a href="./kdelibs-2.2.1-keditcl-20010922.diff">kdelibs-2.2.1-keditcl-20010922.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-ksirc-ja-20010922.diff">kdenetwork-2.2.1-ksirc-ja-20010922.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li>
    <a href="./kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff">kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは iso8859-1 になるようになっていますが、<br>
    ・国が ja の時は、iso-2022-jp<br>
    ・国が tw の時は、big5<br>
    ・国が kr の時は、euc-kr<br>
    にします。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff">kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li>
    <a href="./kdebase-2.2.1-konsole-ja-20010922.diff">kdebase-2.2.1-konsole-ja-20010922.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。
  </li>
  <li><a href="./kdevelop-2.0.1-font-i18n-20010922.diff">kdevelop-2.0.1-font-i18n-20010922.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff">kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-knewsticker-utf8-20010922.diff">kdenetwork-2.2.1-knewsticker-utf8-20010922.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2.1-babelfish-ja-20010922.diff">kdeaddons-2.2.1-babelfish-ja-20010922.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-kmail-honyaku-20010922.diff">kdenetwork-2.2.1-kmail-honyaku-20010922.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2.1-kpersonalizer-charset-20010922.diff">kdebase-2.2.1-kpersonalizer-charset-20010922.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
  <li><a href="./kdevelop-2.0.1-i18n-20010922.diff">kdevelop-2.0.1-i18n-20010922.diff</a><br>
    サイドバーの表示の修正、makeなどの出力の修正を行なっています。
  </li>
</ul>

<hr>
<h2><a name="kde22">KDE 2.2</a></h2>

<p>ソースは<a href="ftp://ftp.kde.gr.jp/pub/kde/stable/2.2/src">こちら</a>からダウンロードできます。</p>

<ul>
  <li><a href="./kdelibs-2.2-keditcl-20010816.diff">kdelibs-2.2-keditcl-20010816.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-ksirc-ja-20010816.diff">kdenetwork-2.2-ksirc-ja-20010816.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li><a href="./kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff">kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは iso8859-1 になるようになっていますが、<br>
    ・国が ja の時は、iso-2022-jp<br>
    ・国が tw の時は、big5<br>
    ・国が kr tw の時は、big5<br>
    ・国が kr の時は、euc-kr<br>
    にします。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-kmail-show_userAgent-20010825.diff">kdenetwork-2.2-kmail-show_userAgent-20010825.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li>
    <a href="./kdebase-2.2-konsole-ja-20010818.diff">kdebase-2.2-konsole-ja-20010818.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。<br>
  </li>
  <li><a href="./kdevelop-2.0-font-i18n-20010816.diff">kdevelop-2.0-font-i18n-20010816.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2-khtml-autoencode-ja-20010816.diff">kdelibs-2.2-khtml-autoencode-ja-20010816.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-knewsticker-utf8-20010816.diff">kdenetwork-2.2-knewsticker-utf8-20010816.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2-babelfish-ja-20010816.diff">kdeaddons-2.2-babelfish-ja-20010816.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-kmail-honyaku-20010818.diff">kdenetwork-2.2-kmail-honyaku-20010818.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2-kpersonalizer-charset-20010816.diff">kdebase-2.2-kpersonalizer-charset-20010816.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
  <li><a href="./kdevelop-2.0-i18n-20010817.diff">kdevelop-2.0-i18n-20010817.diff</a><br>
    サイドバーの表示の修正、makeなどの出力の修正を行なっています。<br>
    <br></li>
</ul>
