---
title: FAQ/1 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">日本語を入力できない  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F1#geee46e8" id="geee46e8" title="geee46e8">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.x</li>
<li>アプリケーション: 指定無し</li>
<li>作成日: 2003-07-28 (月) 23:08:25</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F1#y7653329" id="y7653329" title="y7653329">†</a></h3>
<p>KDEで日本語を入力することができません。<br/>
どのようにすれば解決できるでしょうか？</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F1#n37bb8b4" id="n37bb8b4" title="n37bb8b4">†</a></h3>
<p>日本語を入力する場合には、kinput2などのXIMサーバが起動されている必要があります。<br/></p>
<p>また、環境変数 $LANGを"ja_JP.utf8"（古い環境では"ja_JP.eucJP"）にセットし、環境変数 $XMODIFIERSを<br/>
"@im=kinput2"(kinput2を使用する場合)にセットする必要があります。<br/>
これらの環境変数の設定は、ホームディレクトリにある".bashrc"(bashの場合)や<br/>
".cshrc"(tcshの場合)で行うようにすると楽です。</p>
<pre>(bashの例)
LANG=ja_JP.eucJP
export LANG

XMODIFIERS="@im=kinput2"
export XMODIFIERS</pre>
<p>kinput2などが起動していて、環境変数もセットされているのに<br/>
日本語の入力ができない場合、qtconfigを起動して、「Interface」という<br/>
タブを開き、一番下の「XIM Input Style」をOn The Spot（またはOver The Spot）にすると<br/>
ちゃんと入力できるようになるはずです。</p>
<div class="counter">
Counter:   32,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F1#lb0205d5" id="lb0205d5" title="lb0205d5">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/1"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="185cd85eb7bd947e6a890674da0f3814"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
