---
title: FAQ/11 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">Kdevelop Ver.1.4-&gt;4へのUP方法  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F11#l0f74a83" id="l0f74a83" title="l0f74a83">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: -----</li>
<li>アプリケーション: Kdevelop</li>
<li>作成日: 2010-08-28 (土) 19:01:26</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F11#ge7a38f4" id="ge7a38f4" title="ge7a38f4">†</a></h3>
<p>RH7.1(seawolf)AlphaでのKdevelop1.4から４へのバージョンアップはできますか？</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F11#reb100c4" id="reb100c4" title="reb100c4">†</a></h3>
<div class="counter">
Counter:   24,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F11#a1111cb3" id="a1111cb3" title="a1111cb3">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/11"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="d7641ee4c2e5b9d5f504afcfd41e8434"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
