---
title: FAQ/4 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">画面にごみが残る  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F4#ib474ab8" id="ib474ab8" title="ib474ab8">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: -----</li>
<li>アプリケーション: Konsole</li>
<li>作成日: 2003-07-29 (火) 22:02:37</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F4#b3bc49cc" id="b3bc49cc" title="b3bc49cc">†</a></h3>
<p>Konsoleを使っていると画面にごみが残ってしまいます。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F4#u7ff9a72" id="u7ff9a72" title="u7ff9a72">†</a></h3>
<p>現状では解決の見込みが少ないです。
kterm, krxvt, mlterm等を使うのが賢明です。</p>
<p>是非解決を訴えましょう。
voteをお願いします。
<a href="http://bugs.kde.org/show_bug.cgi?id=41744" rel="nofollow">http://bugs.kde.org/show_bug.cgi?id=41744</a></p>
<p>これも関係していると思います。
<a href="http://bugs.kde.org/show_bug.cgi?id=59162" rel="nofollow">http://bugs.kde.org/show_bug.cgi?id=59162</a> <br/>
3.1.3では直っているはずですが。Gentooではまだでてないので、未確認です。(Ken)</p>
<div class="counter">
Counter:   19,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F4#c88dac86" id="c88dac86" title="c88dac86">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/4"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="704a27e8a502f42bc5e8cc73f773c190"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>できるだけ高さが一定の(_やgやqが下につきでていない)フォントを選ぶ。 -- <span class="noexists">matsu<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=matsu&amp;refer=FAQ%2F4">?</a></span> <span style="font-size:12px"><span class="comment_date">2003-08-19 (火) 03:27:58</span></span></li></ul>
