---
title: KDE 3.0 アーキテクチャ/開発フレームワーク/複雑なウィジット/HTMLレンダラ - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3" title="KDE 3.0 アーキテクチャ (461d)">KDE 3.0 アーキテクチャ</a></p>
<p>オリジナル : <a href="http://developer.kde.org/documentation/library/kdeqt/kde3arch/khtml/index.html" rel="nofollow">http://developer.kde.org/documentation/library/kdeqt/kde3arch/khtml/index.html</a>
<a class="note_super" href="#notefoot_1" id="notetext_1" title="題名が2.0なのが気になる">*1</a></p>
<p>※古すぎるのであまり参考にはならないかと思われます。</p>
<hr class="full_hr"/>
<p>KHTML - KDE's HTML library</p>
<p>概観</p>
<p>KHTMLはDOM,Java,<span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%CA%A3%BB%A8%A4%CA%A5%A6%A5%A3%A5%B8%A5%C3%A5%C8%2FHTML%A5%EC%A5%F3%A5%C0%A5%E9">?</a></span>,Cascading Style Sheets(CSS)に対応したXML/HTML4準拠のHTMLライブラリです。</p>
<p>現在のKHTMLができることについての概観をここで得られます。</p>
<p>Small example</p>
<p>KHTMLをプログラム中で使うのは非常に簡単です。<br/>
下の例はすでにwebブラウズが可能なアプリケーションを示しています。</p>
<p>#コード例が古かったので<a href="http://devel-home.kde.org/~larrosa/tutorial/p4.html" rel="nofollow">コチラ</a>を見て下さい。</p>
<p>この例はすでにwebにアクセスできる機能的なブラウザを示しています。(リモートファイルにアクセスするためのkio_httpが必要ですが)<br/>
testkhtmlで<a href="http://kde.org" rel="nofollow">http://kde.org</a>を試して見て下さい。ウィジットにはKDEのホームページが表示されるでしょう。</p>
<p>Document Object Model (DOM)</p>
<p>KHTMLはほとんど完璧なDom Level1, Level2の実装を提供しています。</p>
<p>DOMは文書のデータを保持するために使われる内部的なクラスです。<br/>
DOMにアクセスするクラスはデータ保持の為にrefcounting schemeを用います。<br/>
よってDOMはメモリ管理を行ないます。<br/>
使う方は、文書のパーツにアクセスするためには、DOM header fileに定義されているクラスを使用するだけでよいのです。<br/>
ポインタを使わない限り、メモリリークが起きることはないでしょう。(ライブラリのバグを覗いてはね。。。;-)</p>
<p>表示されている文書には KHTMLWidget::document() 関数を用いて文書のどの部分にでも簡単にアクセスできます。</p>
<p>Java</p>
<p>有難い事にRichard Mooreによって、KHTMLはJava appletを表示できるようになりました。<br/>
Javaは標準では有効になっていませんが、メソッドを使って有効にできます。<br/>
CLASSPATHは以下のように設定して下さい。</p>
<pre>CLASSPATH=$KDEDIR/share/apps/kjava/kjava-classes.zip:$JDK_DIR/lib</pre>
<p>JDKをインストールすることが必要です。JDK-1.1.7では試しましたが、Kaffeや他のバージョンのJDKで動くかはわかりません。</p>
<p><span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%CA%A3%BB%A8%A4%CA%A5%A6%A5%A3%A5%B8%A5%C3%A5%C8%2FHTML%A5%EC%A5%F3%A5%C0%A5%E9">?</a></span> (ECMA-Script)</p>
<p><span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%CA%A3%BB%A8%A4%CA%A5%A6%A5%A3%A5%B8%A5%C3%A5%C8%2FHTML%A5%EC%A5%F3%A5%C0%A5%E9">?</a></span>サポートはECMAScript Language specification ECMA-262 3rd edition準拠です。<br/>
これはJavaScript1.5相当です。</p>
<p>Cascading Style Sheets (CSS)</p>
<p>Cascading style sheets 2.1 はほとんどサポートされています。</p>
<div class="counter">
Counter:   24,
today:     1,
yesterday: 0
</div>
