---
title: Konstruct - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A2%A5%D7%A5%EA%A5%B1%A1%BC%A5%B7%A5%E7%A5%F3%A4%CE%BE%D2%B2%F0" title="アプリケーションの紹介 (559d)">アプリケーションの紹介</a> <a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%A4%A5%F3%A5%B9%A5%C8%A1%BC%A5%EB%CA%FD%CB%A1" title="インストール方法 (43d)">インストール方法</a></p>
<ol class="list1" style="padding-left:16px;margin-left:16px"><li>本家サイト : <a href="http://developer.kde.org/build/Konstruct" rel="nofollow">http://developer.kde.org/build/Konstruct</a></li></ol>
<p>Konstructは<a href="http://www.lnx-bbc.org/garchitecture.html" rel="nofollow">GAR</a>を用いたKDEのビルド補助ツールです。<br/></p>
<p><strong>cd meta/kde;make install</strong>というコマンドだけでKDE全体をインストールできます。</p>
<p>現在のversionは次の通りです。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">stable版</td><td class="style_td">3.3.2</td></tr>
</table></div>
<div class="contents">
<a id="contents_1"></a>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><a href="#f6376d37"> 概要 </a></li>
<li><a href="#pab29342"> READMEの訳 </a>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="#bd73c568"> 準備 </a></li>
<li><a href="#t57161da"> 設定 </a></li>
<li><a href="#s5f49b92"> 使い方 </a></li>
<li><a href="#fcf313ee"> インストール後 </a></li>
<li><a href="#pf3d157e"> 最新のKonstructを入手するには </a></li>
<li><a href="#e7b7d5e9"> License </a></li></ul></li>
<li><a href="#x2e6cd5b"> 含まれているアプリケーション </a></li></ul>
</div>
<h2 id="content_1_0">概要  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#f6376d37" id="f6376d37" title="f6376d37">†</a></h2>
<ol class="list1" style="padding-left:16px;margin-left:16px"><li>Konstructをダウンロード</li>
<li>READMEの設定の項を見ながら gar.conf.mk を設定します(↓の訳を参考にして下さい)。
<ol class="list2" style="padding-left:16px;margin-left:16px"><li>特にQtの項目は注意しましょう。時間が大幅に短縮されます。</li></ol></li>
<li>kde/category.mk, apps/category.mkを編集します。
<ol class="list2" style="padding-left:16px;margin-left:16px"><li>MASTER_SITES += <a href="ftp://ftp.kde.gr.jp/pub/kde/stable/3.2.3/src" rel="nofollow">ftp://ftp.kde.gr.jp/pub/kde/stable/3.2.3/src</a> を追加。</li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%A5%D3%A5%EB%A5%C9%BB%FE%A4%CE%BA%C7%C5%AC%B2%BD" title="ビルド時の最適化 (1880d)">ビルド時の最適化</a>を参考にOWN_CFLAGSを編集し、LD_FLAGSを追加。</li>
<li>以下のコマンドを実行。<a class="note_super" href="#notefoot_1" id="notetext_1" title="すべてをインストールしたい場合は...">*1</a>
<pre>cd meta/kde;make install
cd i18n/kde-i18n-ja;make install</pre></li></ol></li>
<li>$KDEDIR, $QTDIR, $PATH, $LD_LIBRARY_PATHを設定
<pre>export KDEDIR=~/kde$version
export QTDIR=~/kde$version
export LD_LIBRARY_PATH=~/kde$version/lib
export PATH=~/kde$version/bin:$PATH</pre></li></ol>
<p>make installを実行するとringサーバーや他の場所からtar玉、そしてpatchのダウンロードが始まり、自動的にビルドが始まります。</p>
<p>他に入れたい物があればディレクトリを探索しましょう。一番下にも一部のせています。
以上。楽でしょう?</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h2 id="content_1_1">READMEの訳  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#pab29342" id="pab29342" title="pab29342">†</a></h2>
<p>(注)kde$versionとなっている所はkde3.1等と任意に解釈して下さい。</p>
<p>"Konstruct"はKDEとその関連アプリケーションのインストールを補助するビルドシステムです。<br/></p>
<p>ソースのtarballをダウンロードし、状態をチェックし、解凍し、パッチをあて、configureを実行し、ビルドを行ない、そしてインストールします。</p>
<p>KDEを完全にインストールするには、"cd meta/kde;make install"とするだけという簡単さです。<br/></p>
<p>オプションとして<span class="noexists">KOffice<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=KOffice&amp;refer=Konstruct">?</a></span>や<a href="http://www.kde.gr.jp/pukiwiki/index.php?KDevelop" title="KDevelop (413d)">KDevelop</a>そして<span class="noexists">Quanta<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=Quanta&amp;refer=Konstruct">?</a></span>といったソフトウェアも例えばkofficeの場合"cd apps/koffice; make install"と打つだけでインストールすることができます。</p>
<p>デフォルトではKonstcurtは"~/kde$version"ディレクトリにソフトウェアをインストールします。<br/></p>
<p>これは、インストールするのにルート権限が必要なく、システムを汚すことも無く、Konstructを用いてインストールされたKDEは他のKDEには影響しないということです。</p>
<p>↓のテーブルは何MBのtarballがダウンロードされるかを示しています:</p>
<pre>  Directory/Target  |   Size  | Description
 -------------------+---------+---------------------------------------------
  kde/kdebase       |   40MB  | ブラウザ、エディタ、ターミナル等
  meta/kmail-crypto |   48MB  | [[kdenetwork]]とcryptoライブラリ
  meta/kde          |  105MB  | "KDE $version"に属する全てのパッケージ
  meta/everything   |  177MB  | 本体に加えたすべてのアプリケーション。↓の表を見て下さい。</pre>
<p>↓のテーブルはmeta/everythingに含まれない物を示しています。</p>
<pre>  Directory/Target       | Reason
 ------------------------+---------------------------------------------------
  apps-unstable/         | Development versions, conflicting with apps/
  i18n/                  | Nobody needs everything, just pick your language
  kde/kdebindings        | Only needed for developing with non-C++ language</pre>
<p>すでにQT3.1をインストールしている場合は、環境変数 HAVE_QT_3_1_INSTALLED("設定"を見て下さい)を設定してください。上記の表からダウンロードすべきMBが12MBずつ引かれます。(falseではなくコメントアウトして下さい。)</p>
<p>母国語にローカライズされたKDEをインストールしたいなら、i18n/ディレクトリを覗き、母国語のディレクトリに入って"make install"としてください。KOfficeをローカライズするには、"i18n/koffice-i18n-&lt;language-code&gt;"パッケージをインストールしてください。</p>
<p>"Konstruct"はStephan Binner(<a href="mailto:binner@kde.org" rel="nofollow">binner@kde.org</a>)によってメンテナンスされています。
またNick Moffitt(<a href="http://www.lnx-bbc.org/garchitecture.html)" rel="nofollow">http://www.lnx-bbc.org/garchitecture.html)</a>によるGAR portsシステムに依っており、Jeff WaughによるGARNOME(<a href="http://www.gnome.org/~jdub/garnome/)" rel="nofollow">http://www.gnome.org/~jdub/garnome/)</a>に刺激を受けて開発されました。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">準備  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#bd73c568" id="bd73c568" title="bd73c568">†</a></h3>
<p>GNU tool(gcc, GNU make, flex, BSD yacc, gettext, patch etc.)とgzip and bzip2, md5sum, patch, wgetが必要です。</p>
<p>他の基本的なライブラリや、追加機能を可能にするライブラリは"Konstruct"には含まれていません。</p>
<p><a href="http://www.kde.org/info/requirements/3.1.html" rel="nofollow">http://www.kde.org/info/requirements/3.1.html</a>に示されています。
"-dev"や"-devel"に含まれるヘッダファイルをインストールしなければならないことに注意して下さい。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_3">設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#t57161da" id="t57161da" title="t57161da">†</a></h3>
<p>好きなように gar.conf.mk を変更してください。便利なオプションは、:</p>
<pre> GARCHIVEDIR すでにソースファイルをダウンロードしている場合はそのディレクトリを指定して下さい。
 prefix      どこにKDEをインストールするか。デフォルトでは"~/kde$VERSION/"です。
 OWN_CFLAGS  コンパイラフラグを設定します。
 HAVE_QT_3_1_INSTALLED  (moc, uic, headerを含む)Qt3.1をインストールしているかどうかを
                        設定します。Qtのインストールを省くことができます。
 BUILD_CLEAN ディスクの空き容量が少ない場合はセットして下さい。</pre>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_4">使い方  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#s5f49b92" id="s5f49b92" title="s5f49b92">†</a></h3>
<p>まずインターネットに接続できることが必要です。</p>
<p>次にビルドしたいターゲットを選び、それが定義されたディレクトリに移動して下さい。(例えば <span class="noexists">kdebase<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=kdebase&amp;refer=Konstruct">?</a></span> なら "cd kde/kdebase")</p>
<p>そして次に紹介するコマンドを入力して下さい。通常は"make install"と入力すればよいです。</p>
<p>それぞれのパッケージにGARシステムは7つのMakeターゲットを提供しています。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">command</td><td class="style_td">description</td></tr>
<tr class="style_tr"><td class="style_td">fetch</td><td class="style_td">パッケージをコンパイルするのに必要なすべてのファイルとパッチをダウンロードします。通常はtarball一つだけですが、たまにパッチが伴うことがあります。</td></tr>
<tr class="style_tr"><td class="style_td">checksum</td><td class="style_td">md5sumを使用してダウンロードしたファイルがメンテナーのものと適合するかどうかを確かめます。</td></tr>
<tr class="style_tr"><td class="style_td">extract</td><td class="style_td">必要なすべてのソースファイルが作業ディレクトリにあるかどうかを確かめます。</td></tr>
<tr class="style_tr"><td class="style_td">patch</td><td class="style_td">パッチ(3rdパーティーのパッチもしくはメンテナーのパッチ)を当てる必要がある場合はパッチを当てます。</td></tr>
<tr class="style_tr"><td class="style_td">configure</td><td class="style_td">パッケージをconfigureします。一般的にはautoconfやImake等を実行します。</td></tr>
<tr class="style_tr"><td class="style_td">build</td><td class="style_td">通常のコンパイル過程を行います。</td></tr>
<tr class="style_tr"><td class="style_td">install</td><td class="style_td">適切な場所にファイルを配置し、必要なすべての処理を仕上げます。</td></tr>
</table></div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_5">インストール後  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct#fcf313ee" id="fcf313ee" title="fcf313ee">†</a></h3>
<p>インストール後はKDEのバイナリとライブラリをシステムに探させるためにいくつかの変数を設定します。Bashの例:</p>
<pre> export QTDIR=~/kde$version
 export KDEDIRS=~/kde$version
 export LD_LIBRARY_PATH=~/kde$version/lib
 export PATH=~/kde$version/bin:$PATH</pre>
<p>KDEHOMEも設定してください。例えば"export KDEHOME=~/.kdetest"とすると設定をこのディレクトリに保存するようになるので、デフォルトの~/.kdeディレクトリには影響を及ぼしません。</p>
<p>KDEをスタートするには"startkde"を実行します。ほとんどのディストリビューションではこれをWINDOWMANAGER変数にセットするとKDEがスタートします。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_6">最新のKonstructを入手するには  <a class="anchor_super" href="http://www.kde.g" id="pf3d157e">r   .   j   p   /   p   u   k   i   w   i   k   i   /   i   n   d   e   x   .   p   h   p   ?   K   o   n   s   t   r   u   c   t   #   p   f   3   d   1   5   7   e   "       t   i   t   l   e   =   "   p   f   3   d   1   5   7   e   "   &gt;   &amp;d   a   g   g   e   r   ;   /   a   &gt;   /   h   3   &gt;
   </a></h3>
