---
title: Kplayer - 旧 Wiki アーカイブ
---

<p>KDE 用のマルチメディアプレーヤー。</p>
<p>mplayer を利用しているため、以下のようなフォーマットを再生できる。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>MPEG</li>
<li>AVI</li>
<li>OGG/OGM</li>
<li>ASF/WMA/WMV</li>
<li>QT/MOV/MP4</li>
<li>RM</li>
<li>DivX 3/4/5</li></ul>
<p>(まだまだある…)</p>
<p>当然、このアプリを利用するには mplayer のインストールが必要。</p>
<p>他の KDE 用のマルティメディアプレーヤーには kdemultimedia に標準で入っている noatun、mplayer に加え xine を利用する kmplayer などがある(kmplayer の利用には xine やmplayer に加え kdemultimedia のインストールが必要)。</p>
<p>kplayer ホームページ:<a href="http://kplayer.sourceforge.net/" rel="nofollow">http://kplayer.sourceforge.net/</a> <br/>
mplayer ホームページ:<a href="http://www.MPlayerHQ.hu/homepage/" rel="nofollow">http://www.MPlayerHQ.hu/homepage/</a></p>
<h4 id="content_1_0">注意 ~</h4>
<p>MPEG 等には特許の問題があるので、そのあたりは自己責任で…</p>
<div class="counter">
Counter:   49,
today:     1,
yesterday: 0
</div>
