---
title: Lokalize - 旧 Wiki アーカイブ
---

<p>Lokalize ホームページ : <a href="http://userbase.kde.org/Lokalize" rel="nofollow">http://userbase.kde.org/Lokalize</a></p>
<p>日本語翻訳の方法 <a href="http://www.kde.gr.jp/pukiwiki/index.php?TranslationAssignments" title="TranslationAssignments (89d)">TranslationAssignments</a></p>
<p>ここではLokalizeの最低限の設定と使用法について説明します。</p>
<h3 id="content_1_0">Lokalizeとは  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#s07e8c27" id="s07e8c27" title="s07e8c27">†</a></h3>
<p>LokalizeはKDEの翻訳チームが使用しているKDE4向け(KDE3ではKBabelというツールを使用していました)の翻訳補助ツールです。翻訳メモリ(Translation Memory)による類似翻訳検索、編集の面において、強力な機能を持っています。翻訳メモリは共通フォーマットを使用しているため、PO/POTやXLIFFを使用している他の翻訳プロジェクトの人にも有用なツールでしょう。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">インストールと設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#fdf3a220" id="fdf3a220" title="fdf3a220">†</a></h3>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>ディストリビュータで配布されているパッケージをインストールして下さい。もしLokalize単体でのパッケージになっていない場合はkdesdkをインストールしてください。</li>
<li>日本語メッセージファイル (SVNの"trunk/l10n-support/ja/messages")をダウンロードしておいて下さい。</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_2">Lokalizeの設定（必須設定）  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#ya54f190" id="ya54f190" title="ya54f190">†</a></h4>
<p>"設定"→"Lokalizeを設定..."にて設定ダイアログを開きます。
翻訳者と言語の情報を以下のように入力して下さい。（MLはKdeveloper宛にして下さい）</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:left;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=Lokalize&amp;openfile=ss3.png" title="画面1：Lokalizeの設定画面"><img alt="画面1：Lokalizeの設定画面" height="336" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=Lokalize&amp;src=ss3.png" title="画面1：Lokalizeの設定画面" width="613"/></a></td></tr><tr><td class="style_td" style="text-align:left;"><strong>画面1：Lokalizeの設定画面</strong></td></tr></tbody></table></div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">翻訳メモリ(TM)の設定（推奨設定）  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#w3227e13" id="w3227e13" title="w3227e13">†</a></h4>
<p>"作成"で新たなTMを作成します。ここでのディレクトリはダウンロードした"trunk/l10n-support/ja/messages"の"messages"があるフォルダを指定します。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:left;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=Lokalize&amp;openfile=ss4.png" title="画面2：翻訳メモリ設定画面"><img alt="画面2：翻訳メモリ設定画面" height="253" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=Lokalize&amp;src=ss4.png" title="画面2：翻訳メモリ設定画面" width="712"/></a></td></tr><tr><td class="style_td" style="text-align:left;"><strong>画面2：翻訳メモリ</strong></td></tr></tbody></table></div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_4">プロジェクトの設定（オプション設定）  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#w010e035" id="w010e035" title="w010e035">†</a></h4>
<p>ここでもルートフォルダとしてダウンロードした"trunk/l10n-support/ja/messages"の"messages"があるフォルダを指定します。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:left;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=Lokalize&amp;openfile=ss6.png" title="画面3：プロジェクトの設定画面"><img alt="画面3：プロジェクトの設定画面" height="396" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=Lokalize&amp;src=ss6.png" title="画面3：プロジェクトの設定画面" width="820"/></a></td></tr><tr><td class="style_td" style="text-align:left;"><strong>画面3：プロジェクトの設定画面</strong></td></tr></tbody></table></div>
<p>このようにプロジェクトの設定を行った場合、以下のようにリアルタイムの翻訳状況が確認できるようになります。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:left;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=Lokalize&amp;openfile=ss2.png" title="画面4：プロジェクトの概要表示"><img alt="画面4：プロジェクトの概要表示" height="685" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=Lokalize&amp;src=ss2.png" title="画面4：プロジェクトの概要表示" width="1280"/></a></td></tr><tr><td class="style_td" style="text-align:left;"><strong>画面4：プロジェクトの概要表示</strong></td></tr></tbody></table></div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_5">使用法  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#j11ebbc6" id="j11ebbc6" title="j11ebbc6">†</a></h3>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>poファイルを開く、Lokalizeの画面は、様々なパーツから構成されています。</li></ul>
<ul class="list2" style="padding-left:32px;margin-left:32px"><li>翻訳するエントリの対応、翻訳状態</li>
<li>メタデータ</li>
<li>オリジナルの文字列(<strong>Msgid</strong>)</li>
<li>翻訳を入力するフィールド(<strong>Msgstr</strong>)</li>
<li>翻訳メモリによる検索結果</li>
<li>用語集の検索結果（用語集ファイルの準備と設定が必要です）</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>編集が終わったファイルのヘッダーを確認
Lokalizeが保存したpoファイルは一部変更が必要な場合があるので以下2点確認して下さい。
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>"Language-Team: Japanese &lt;<a href="mailto:Kdeveloper@kde.gr.jp" rel="nofollow">Kdeveloper@kde.gr.jp</a>&gt;\n"</li>
<li>"Plural-Forms: nplurals=2; plural=n != 1;\n"
特に、summitのファイルを使用している場合は後者はOKですが、前者の"Japanese"のところが「日本語」になってしまうため、エディタで修正が必要です。</li></ul></li></ul>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:left;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=Lokalize&amp;openfile=ss5.png" title="画面5：Lokalizeのメイン画面"><img alt="画面5：Lokalizeのメイン画面" height="685" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=Lokalize&amp;src=ss5.png" title="画面5：Lokalizeのメイン画面" width="1280"/></a></td></tr><tr><td class="style_td" style="text-align:left;"><strong>画面5：Lokalizeのメイン画面</strong></td></tr></tbody></table></div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_6">よく使うショートカット  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize#y5bd04b9" id="y5bd04b9" title="y5bd04b9">†</a></h4>
<p>以下のショートカットを覚えていくと作業がはかどります。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>次のFuzzyか未翻訳メッセージ: Ctrl+Shift+<span class="noexists">PageDown<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=PageDown&amp;refer=Lokalize">?</a></span></li>
<li>TMの検索結果をMsgstrにコピー: Ctrl+1, Ctrl+2, ...</li>
<li>次のメッセージ: <span class="noexists">PageDown<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=PageDown&amp;refer=Lokalize">?</a></span></li>
<li>前のメッセージ: <span class="noexists">PageUp<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=PageUp&amp;refer=Lokalize">?</a></span></li>
<li>MsgidをMsgstrにコピー: Alt+Space</li></ul>
