---
title: バグ報告
---

<p>
  バグ報告には、本家へ英語で直接バグを報告する方法と、日本語で報告する方法の二つがあります。<br />
  <br />
  英語で本家にバグ報告をする場合は、<a href="https://bugs.kde.org">bugs.kde.org</a> へお願いします。<br />
  <br />
  日本語で報告する場合は、<a href="/community/whatiskdejp/communicate/">日本語メーリングリスト</a>にお願い致します。<br />
  本家の開発者にはあまり日本人・中国人・韓国人・ベトナム人がいませんので、日本語や CJK 環境特有のバグは、できるだけ ML に報告して下さい。<br />
  <br />
  セキュリティ脆弱性の報告は、できるだけ <a href="mailto:security@kde.org">security@kde.org</a>
  へ英語で送って下さい。詳細は<a href="https://community.kde.org/Policies/Security_Policy">KDE セキュリティポリシー</a>をご覧下さい。<br />
  英語での報告が難しい場合は、<a href="/community/whatiskdejp/communicate/">日本語メーリングリスト</a>に、単に「脆弱性を見つけた」とだけご連絡下さい。
  開発 ML は WWW に公開されていますので、<strong>脆弱性の内容は記述しないで下さい。</strong>ユーザ会のスタッフが個別に対応します。
</p>
