---
title: KDE国際化 - 日本語翻訳状況
---

...更新　2001/01/08 5:00 JST

<hr>
<p>この下の表にKDE-2.0のメッセージファイル翻訳の進行状況が載っています。
<p>・.poファイルを作ったぞ、もしくはこれは俺が訳すぞ、というのがある方はいう方はMailで送って下さい。
<br>　致命的なミスがない限りそのまま載せます。
<br>・MLのほうに流れてきた情報も気付き次第載せます。
<br>・意見、情報等は<a href="mailto:kom@kde.gr.jp">kom@kde.gr.jp</a> まで
<br>・poファイルというのはKDEにおいてはウィンドウのメニューのところを日本語化するファイルです。
<br>　msgfmt(gettext)というプログラムを使ってコンパイルして使います。メッセージカタログというのが正式名称です。
<br>・本家KDE国際化プロジェクトには更新があり次第送っていきます。
<p>この表の見方　　○：翻訳済み ／△：翻訳中 ／-：手つかず ／na：not available
<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<td>パッケージ名</td>

<td>.po(2.0用)</td>

<td>翻訳者(敬称略)</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<th COLSPAN="3" NOSAVE><b><i>kdelibs</i></b></th>
</tr>

<tr>
<td>desktop</td>

<td>○ 20010104</td>

<td>篠原　昇,Taiki Komoda</td>
</tr>

<tr>
<td>kdelibs</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>knotify</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdeadmin</i></b></th>
</tr>

<tr>
<td>kcmlilo</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr NOSAVE>
<td>kcron</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdat</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kpackage</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksysctrl</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksysv</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kuser</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kwuftpd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>secpolicy</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdebase</i></b></th>
</tr>

<tr>
<td>appletproxy</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>childpanelextension</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>clockapplet</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>drkonqi</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>extensionproxy</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>filetypes</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>htmlsearch</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kaccess</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kappfinder</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmaccess</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr NOSAVE>
<td>kcmarts</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmbackground</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmbell</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmcolors</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmcrypto</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmemail</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmenergy</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmfonts</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmhtmlsearch</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmicons</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmiconthemes</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcminfo</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcminput</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkclock</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkdb</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkeys</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkicker</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkio</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkmix</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkonq</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkonqhtml</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkurifilt</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkwm</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmlaptop</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmlayout</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmlilo</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmlocale</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmmidi</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmnotify</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmodbc</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmsamba</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmsample</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmscreensaver</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmsmserver</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmstyle</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmtaskbar</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmthemes</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmvirtualdesktops</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcontrol</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdcop</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdebugdialog</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdesktop</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdesu</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdesud</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdewizard</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdm</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdmconfig</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kfindpart</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kfmclient</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kfmexec</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>khelpcenter</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>khotkeys</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kicker</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kio_help</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kio_man</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>klegacyimport</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>klipper</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>klock</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kmenuedit</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kminipagerapplet</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>konqueror</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>konsole</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kpager</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>krdb</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>krunapplet</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksmserver</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksplash</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kstart</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksysguard</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ktaskbarapplet</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ktip</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kwin</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kwrite</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kxkb</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kxmlrpcd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kxsconfig</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>libkonq</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>libtaskbar</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>nsplugin</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>passwords</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>quicklauncher</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdegames</i></b></th>
</tr>

<tr>
<td>kabalone</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr NOSAVE>
<td>kasteroids</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>katomic</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kblackbox</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kjezz</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kjumpingcube</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kmahjongg</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kmines</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>konquest</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kpat</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kpoker</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kreversi</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ksame</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kshisen</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ksirtet</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ksmiletris</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ksnake</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ksokoban</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kspaceduel</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ktron</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ktuberling</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kwin4</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>lskat</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>multiplayers</td>

<td>○ 20010107</td>

<td>Taiki Komoda</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdegraphics</i></b></th>
</tr>

<tr>
<td>kdvi</td>

<td>○ 19990601</td>

<td>Taiki Komoda</td>
</tr>

<tr NOSAVE>
<td>kfax</td>

<td>○ 19990601</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kfract</td>

<td>○ 19990601</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kghostview</td>

<td>○ 20001018</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kpixmap2bitmap</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>ksnapshot</td>

<td>○ 19990613</td>

<td>Kimiyasu Tomiyama</td>
</tr>

<tr>
<td>kview</td>

<td>○ 20001018</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kviewshell</td>

<td>○ 20001018</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>pixie</td>

<td>○ 20001029</td>

<td>Taiki Komoda</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdemultimedia</i></b></th>
</tr>

<tr>
<td>aktion</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>artsbuilder</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>artscontrol</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kaiman</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmkmix</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kmid</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr NOSAVE>
<td>kmidi</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kmix</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kscd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<th COLSPAN="3" NOSAVE><b><i>kdenetwork</i></b></th>
</tr>

<tr>
<td>kcmktalkd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>keystone</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kit</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kmail</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>knode</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>korn</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kppp</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kppplogview</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ksirc</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ktalkd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<th COLSPAN="3" NOSAVE><b><i>kdepim</i></b></th>
</tr>

<tr>
<td>(abbrowser)</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>(empath)</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>korganizer</td>

<td>○ 20000930</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>(kpilot)</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>(twister)</td>

<td>-</td>

<td>-</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<th COLSPAN="3" NOSAVE><b><i>kdesdk</i></b></th>
</tr>

<tr>
<td>kbabel</td>

<td>○ 20000930</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kbabeldict</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kdevelop</td>

<td>○ 19991020</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ktranslator</td>

<td>○ 19991018</td>

<td>井村 竜一郎</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr NOSAVE>
<th COLSPAN="3" NOSAVE><b><i>kdetoys</i></b></th>
</tr>

<tr>
<td>amor</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kmoon</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kodo</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kscoreapplet</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kteatime</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>ktux</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kworldwatch</td>

<td>○ 20010102</td>

<td>Taiki Komoda</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>kdeutils</i></b></th>
</tr>

<tr>
<td>ark</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kab</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>karm</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcalc</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcharselect</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmfontmanager</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kcmlaptop</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdepasswd</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdessh</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kdf</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kedit</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kfind</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kfloppy</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>khexedit</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kjots</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>klaptopdaemon</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>kljettool</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>klpq</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>knotes</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr NOSAVE>
<td>kpm</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>

<tr>
<td>ktimemon</td>

<td>○ 20010104</td>

<td>篠原　昇</td>
</tr>
</table>

<br>&nbsp;
<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>koffice</i></b></th>
</tr>

<tr>
<td>kchart</td>

<td>○ 20000930</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>killustrator</td>

<td>○ 19990608</td>

<td>堀江 信之</td>
</tr>

<tr>
<td>kimageshop</td>

<td>○ 20000927</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>koffice</td>

<td>○ 20001001</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>koshell</td>

<td>○ 20000924</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kpresenter</td>

<td>○ 20000924</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kspread</td>

<td>○ 20001228</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kspreadcalc_calc</td>

<td>○ 20000930</td>

<td>Taiki Komoda</td>
</tr>

<tr>
<td>kword</td>

<td>○ 20000924</td>

<td>Toshihiro Inoue</td>
</tr>
</table>

<table BORDER COLS=3 WIDTH="100%" NOSAVE >
<tr>
<th COLSPAN="3"><b><i>others(for 2.0)、または標準パッケージに含まれていないもの</i></b></th>
</tr>

<tr>
<td>caitoo</td>

<td>○ 19991014</td>

<td>塙　雅典</td>
</tr>

<tr>
<td>gofai</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>iconpackager</td>

<td>○ 20000730</td>

<td>Yohei Makaki</td>
</tr>

<tr>
<td>karchie</td>

<td>○ 19990613</td>

<td>井村 竜一郎</td>
</tr>

<tr>
<td>kautorun</td>

<td>△ 20000710</td>

<td>Yohei Makaki</td>
</tr>

<tr>
<td>kapm</td>

<td>○ 19991104</td>

<td>塙　雅典</td>
</tr>

<tr>
<td>kbiff</td>

<td>○ 19990613</td>

<td>井村 竜一郎</td>
</tr>

<tr>
<td>kcdtools</td>

<td>○ 19991014</td>

<td>塙　雅典</td>
</tr>

<tr>
<td>kclock</td>

<td>○ 20000108</td>

<td>坂口聡</td>
</tr>

<tr NOSAVE>
<td>kcmail</td>

<td>○ 20000124</td>

<td NOSAVE>坂口聡</td>
</tr>

<tr>
<td>kcmbind</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kcmdhcpd</td>

<td>○ 20000117</td>

<td>坂口聡</td>
</tr>

<tr>
<td>kcmfontmanager</td>

<td>○ 20000730</td>

<td>Yohei Makaki</td>
</tr>

<tr>
<td>kcmgofai</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kcmiwatcher</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kcmkisdn</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kcmprinter</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kcrontab</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kdbg</td>

<td>○ 20000404</td>

<td>石田絵理</td>
</tr>

<tr>
<td>kdepass</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kdiff</td>

<td>○ 19990208</td>

<td>堀江 信之</td>
</tr>

<tr>
<td>kexpress</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kfinger</td>

<td>○ 19990613</td>

<td>井村 竜一郎</td>
</tr>

<tr>
<td>kfortune</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kglchess</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kgoodstuff</td>

<td>○ 19990208</td>

<td>堀江 信之</td>
</tr>

<tr>
<td>kgrapher</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kiconedit</td>

<td>○ 19990608</td>

<td>堀江 信之</td>
</tr>

<tr>
<td>kirc</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kisdn</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kjoy</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kjukebox</td>

<td>○ 20000518</td>

<td>Yohei Makaki</td>
</tr>

<tr>
<td>kless</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>klilo</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>klyx</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kmaster</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kmessage</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kmp3</td>

<td>○ 19991014</td>

<td>Koji TORIYAMA</td>
</tr>

<tr>
<td>kmpg</td>

<td>○ 19990428</td>

<td>Kimiyasu Tomiyama</td>
</tr>

<tr>
<td>knetmon</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>knotify</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>knu</td>

<td>○ 19990613</td>

<td>井村 竜一郎</td>
</tr>

<tr>
<td>konv</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kpaint</td>

<td>堀江 信之</td>

<td>堀江 信之</td>
</tr>

<tr>
<td>kray</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>krubik</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>ksamba</td>

<td>○ 20000117</td>

<td>坂口聡</td>
</tr>

<tr>
<td>ksciplot</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>ktalk</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>ktelnet</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kticker</td>

<td>○ 19990428</td>

<td>Kimiyasu Tomiyama</td>
</tr>

<tr>
<td>kuickshow</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kvidtune</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kwebtree</td>

<td>-</td>

<td>-</td>
</tr>

<tr>
<td>kwebwatch</td>

<td>○ 19991014</td>

<td>塙　雅典</td>
</tr>

<tr>
<td>noatun</td>

<td>△ 20000710</td>

<td>Yohei Makaki</td>
</tr>

<tr>
<td>webmaker</td>

<td>-</td>

<td>-</td>
</tr>
</table>

<p>訳者メールアドレス - .poファイルを参照して下さい
