---
title: KDE について
---

<h2>KDE とは</h2>

<p>
  KDE は、デスクトップ環境を中心に、様々なデスクトップアプリケーションと、それらに必要なコンポーネントの開発を行う、国際的なオープンソースプロジェクトです。<br />
  <br />
  主に Linux 系 や BSD 系の OS 上で動作します。<br />
  KDE に関するより詳しい情報は、<a href="https://kde.org/">本家 KDE の Web サイト</a>をご覧下さい。
</p>

<h2>KDE を使うには</h2>
<p>
  多くの Linux ディストリビューションでは、KDE が最初から入っているインストール用 CD/DVD を提供しています。<br />
  KDE と Gnome、XFCE や LXDE などのうちいずれかをデフォルトのデスクトップ環境として選択できるようになっていることが多いです。又、KDE がリポジトリからダウンロードできる可能性もあります。<br />
  KDE プロジェクトが自ら開発する <a href="https://neon.kde.org/">KDE neon</a> の他、<a href="https://www.opensuse.org">openSUSE</a>、<a href="https://kubuntu.org">Kubuntu</a>、<a href="https://getfedora.org">Fedora</a>、<a href="https://www.debian.org">Debian</a>、<a href="https://www.centos.org">CentOS</a> などでは、このようなインストール CD が用意されています。
  又、<a href="https://www.freebsd.org">FreeBSD</a> では ports からインストールできます。<br />
  お使いのディストリビューションが KDE のパッケージ群を提供していない場合でも、
  <a href="https://kde.org/download/">KDE 本家サイト</a>からソースコードをダウンロードしてコンパイルする方法があります。
</p>
