---
title: KDE アプリケーションからの印刷
---

<img src="./full_logo.jpg" alt="title" />

<p>　設定ができたらあとはKDEのアプリケーションの印刷の際、印刷ダイアログで今回追加したプリンターを選択すれば印刷できます。ですがその前に一回テストを行います。
<br />テストのやり方はまずKDEアプリケーションからPSファイルを出力します。KDE
アプリケーションで印刷ボタンをクリックし、「名前」に「ファイルに出力 (PostScript)」を選択し「OK」をクリックします。
<img src="./nowprint1.png" alt="PSファイルを出力" />
<br /><br />
そのファイルをkghostviewで開いてみてください。
<br /><img src="./nowprint4.png" alt="kghostview" />
<br />
このようにエラーが出ずに表示されればOKです。<br />
同様の方法でPDFファイルを出力することができます。また、PDFファイルはPSファイルと同様にkghostviewで閲覧することができます。<br />
実際の印刷の場合は下のようにプリンタ「hp990c」を選択し、「OK」をクリックします。
<br /><img src="./nowprint3.png" alt="プリンタに出力" />
<br /><br />データ転送中の画面。
<br /><img src="./nowprint2.png" alt="出力中" /><br />
これでプリンタから出力されます。快適過ぎて紙の無駄使いをしないようにしましょう;)。
</p>

<p>最終更新日：2002年11月18日</p>
