---
title: CUPS 設定ツールを使用した CUPS サーバへのプリンタ追加の設定
---

<img src="./full_logo.jpg" alt="title" />


<p>PS入力用の「hp990c」と、raw入力用(ローカルでドライバを持たせ、プリンタ言語に変換されたものを入力とする、Samba等で使用される)の「hp990raw」というプリンタをCUPS設定ツールを使用して追加してみましょう。</p>
<div class="c2">
BSD-lprからCUPSへの移行の注意点については<a href="./lprtocups.html">lpr→CUPSへの移行</a>をご覧ください。要約すると
<ul>
<li>BSD-lprで使用していたものと同じ名前のプリンタをCUPSサーバに追加</li>
<li>BSD-lprをCUPSのlpr互換コマンドで置き換える前にCUPSの設定をしておく</li>
<li>どのシステムが/etc/printcap*を参照しているかに注意する</li>
</ul>
に注意する必要があります。</div>
<p>CUPSサーバへのプリンタの追加は<a href="./setting.html">KDEを使用した設定</a>か、KDEがサーバにインストールされていない場合はCUPS設定ツールで行います。ここではCUPS設定ツールを用いたプリンタの追加の仕方を説明します。<br />
CUPS設定ツールはブラウザからアクセスします。CUPSツールを日本語表示させる方法について<a href="#hosoku3">補足3</a>を御覧ください。<br />

ブラウザを起動し「http://localhost:631」のアドレスを入力します。すると画面のようになります。<br />
<img src="./remote1.png" alt="CUPS設定ツール" /><br />
<h3>PS入力用「hp990c」プリンタの追加</h3>
<p>
プリンタボタンをクリックすると画面のようになります。「プリンタの追加」をクリックします。
<img src="./remote2.png" alt="プリンタ情報ページ" /><br />
<br />
ルート権限が必要なのでルートアカウント「root」とそのパスワードを入力します。<br />
<img src="./remote3.png" alt="ルートパスワードの入力" /><br /><br />

ここからはプリンタの追加です。以下のように入力します。<br />
プリンタ名: これは重要です。「hp990c」を入力してください(lprを使用していたのならそれと同じ名前にする必要があります)<br />
設置場所: プリンタの使用される場所を記述します。必須ではありません。<br />
説明: プリンタの説明を記述します。必須ではありません。
<br />
<img src="./remote4.png" alt="プリンタ名の入力" /><br /><br />
デバイスはUSB1に繋がっているものとします。
<br />
<img src="./remote5.png" alt="デバイスの選択" /><br /><br />
メーカーの選択: HPを選択します。
<br />
<img src="./remote6.png" alt="ベンダの選択" /><br /><br />
モデルの選択: 「HP DeskJet 990C, Foomatic + hpjis (en)」を選択します。
<br />
<img src="./remote7.png" alt="モデルの選択" /><br /><br />
これで完了です。
<br />
<img src="./remote8.png" alt="設定終了" /><br /><br />
プリンタボタンをクリックしプリンタのページに移動すると追加したプリンタが表示されます。テストプリントで設定が正しくできているか確認してください。
<br />
<img src="./remote9.png" alt="追加したプリンタが表示されている" /><br />

</p>
<h3>raw入力用の「hp990raw」</h3>
<p>上と同様ですが、モデルの指定のみが異なります。手順を追ってみましょう。
<br />
名前は「hp990raw」です。
<img src="./remote10.png" alt="プリンタの名前の指定" /><br /><br />
接続先を指定します。USBの#1です。
<br />
<img src="./remote11.png" alt="接続先を指定" /><br /><br />
rawプリンタの場合は「Raw」を選択します。
<br />
<img src="./remote12.png" alt="ベンダの指定" /><br /><br />
rawプリンタの場合は「Raw Queue (en)」しかありません。これを選択します。
<br />
<img src="./remote13.png" alt="プリンタ名の指定" /><br /><br />

<br />
<img src="./remote14.png" alt="設定終了" /><br /><br />
プリンタのページに移動すると追加したプリンタが表示されます。rawプリンタはドライバを持っていないので、テストプリントはしないでください。
<br />
<img src="./remote15.png" alt="2つのプリンタが表示される" /><br /><br />

rawプリンタで動かすにはmimeの設定が必要です。<a href="./samba_cups.html">CUPSの設定</a>を参照してください。これの設定を行うとCUPSに対する設定は終了します。

</p>

<p>補足1 CUPS設定ツールはcupsd.confのaccess、adminの設定を変えることでリモートからブラウザを使用しての設定が可能です。しかしこの方法は認証がなく(設定可能?)、通信の暗号化がされていない(これも設定可能?)ので、ローカル以外ではお奨めできません。(設定ファイルを見る限りでは、なんかできそうな気もしますがまだ調べていません。)
</p>
<p>補足2 ローカルにあるCUPSサーバの詳細な設定(cupsd.confファイルで行うアクセスやセキュリティなどの設定)についてはcupsdconfというKDEのツールが使用できます。グラフィカルでかつ日本語化されているので、KDEがインストールされている場合はこれを使用するとよいでしょう。

<p><a id="hosoku3">補足3</a> ディストリビューションによってはCUPS設定ツールが日本語化されていません。これはもともとの配布に日本語化ファイルが含まれていないからです。TurboLinux8では日本語化されたリソースがインストールされます。作成者の許可を得て、この日本語リソースを配布許可を得ることができました。この場を借りてお礼申し上げます。<br />
<a href="">日本語リソース</a><br />
日本語リソースのインストール方法<br />
CUPSのリソースは例えば/usr/share/cupsなどにインストールされます。このディレクトリには「doc(debianならdoc-root)」、「templates」というディレクトリがあります。ここでリソースを展開してください。
<br />
<kbd># cd /usr/share/cups<br />
#  tar xjf cupsd-japanese-resources.tar.bz2<br /></kbd>
するとdoc,templatesディレクトリ以下に「ja」というディレクトリができます。これでブラウザを再読み込みすれば日本語でCUPS設定ツールにアクセスできます。
</p>

<p>最終更新日：2002年11月18日</p>
