---
title: KDE クライアントからリモート CUPS サーバへ印刷する場合の設定
---

<img src="./full_logo.jpg" alt="title" />

<p>
　ここではリモートCUPSサーバへの接続(IPPを利用してCUPSサーバと通信する場合)を解説します。サーバマシンにてKDE印刷マネージャ、またはCUPS設定ツールでプリンタを追加しておいてください。
例として使用するリモートプリンタはPS入力を受け付ける「hp990c」とします(注1)。KDEでのプリンタの追加ですから<a href="./setting.html">KDEを使用した設定</a>で見たものと手順はほとんど同じです(注2)。

<br /><br />(注1)KDEクライアントはプリンタ言語の出力をサーバに送るのではなく、PS出力をサーバのスケジューラに送ります(つまりサーバサイドでラスタ化します)。しかしローカルをRawにしておく必要はなく、ローカルもサーバと同じPS入力可能のプリンタ設定にしておいてください。
<br />(注2)言いかえればCUPSシステムを使用するときのローカルプリンタの設定は、ローカルCUPSサーバへのプリンタ設定の追加、クライアントをlocalhost:631という(リモート)CUPSサーバに接続するための設定を行っていることになります。
<br />
<br />それでは一つ一つ手順を見ていきましょう。まず印刷マネージャから右クリックし「プリンタ/クラスの追加」を選択します。以下のダイアログが出てきます。

<br />
<img src="./remote16.png" alt="" /><br /><br />
「リモートCUPSサーバ」を選択します。
<br />
<img src="./remote17.png" alt="" /><br /><br />
ゲストアカウント以外でログインする場合は「ゲストアカウント」のチェックを外しログイン名とパスワードを入力します。
<br />
<img src="./remote18.png" alt="" /><br /><br />
リモートCUPSサーバのアドレスを入力します。ポートは通常「631」です。
<br />
<img src="./remote19.png" alt="" /><br /><br />
リモートCUPSサーバに追加されているプリンタがブラウズできます。画面は異なりますが「hp990c」を選択します。
<br />
<img src="./remote20.png" alt="" /><br /><br />
プリンタのメーカーとモデルを選択します。
<br />
<img src="./remote21.png" alt="" /><br /><br />
ドライバを選択します。「推奨」となっているものを使用すると良いでしょう。
<br />
<img src="./remote22.png" alt="" /><br /><br />
プリンタのテストになります。「テスト」ボタンをクリックするとテストプリントが印刷されます。
<br />
<img src="./remote23.png" alt="" /><br /><br />
印刷の前後に挟まれる「バナー」を選択します。通常必要ありません。
<br />
<img src="./remote24.png" alt="" /><br /><br />
印刷容量の制限「クオータ」の設定です。サーバ側に容量がない場合や、クライアントから異常な量の印刷命令が来たときに拒否したい場合に設定してください。
<br />
<img src="./remote25.png" alt="" /><br /><br />
拒否したいユーザを設定できます。
<br />
<img src="./remote26.png" alt="" /><br /><br />
プリンタの名前はローカルでKDEから印刷するときに使用される名前です。混乱を避けるためサーバでのプリンタ名と同じ名前にしておくと良いでしょう。
<br />
<img src="./remote27.png" alt="" /><br /><br />
設定の確認です。「完了」をクリックすると設定が完了し、「hp990c」リモートプリンタが使用できるようになります。
<br />
<img src="./remote28.png" alt="" /><br /><br />

</p>

<p>最終更新日：2002年11月18日</p>
